Repository micrometer-metrics/micrometer, pull requests merged in 2019-04, with the labels that each got.

#1353 Clean up JMX notification listeners for Kafka consumer metrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/kafka/KafkaConsumerMetrics.java
Labels: bug

#1269 Include stack trace when failed to send metrics to Stackdriver
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverMeterRegistry.java
Labels: enhancement, registry: stackdriver

#1355 Auto-configure cache metrics
  micrometer-spring-legacy/build.gradle
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/cache/CacheMeterBinderProvidersConfiguration.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/cache/CacheMetricsAutoConfiguration.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/cache/CacheMetricsRegistrarConfiguration.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/cache/CacheMeterBinderProvider.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/cache/CacheMetricsRegistrar.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/cache/CaffeineCacheMeterBinderProvider.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/cache/EhCache2CacheMeterBinderProvider.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/cache/HazelcastCacheMeterBinderProvider.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/cache/JCacheCacheMeterBinderProvider.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/util/LambdaSafe.java
  micrometer-spring-legacy/src/main/resources/META-INF/spring.factories
Labels: boot2-change, enhancement

#1363 Polish MeterFilter
  micrometer-core/src/main/java/io/micrometer/core/instrument/config/MeterFilter.java
Labels: polish

#1365 Polish MeterFilter against 1.0.x
  micrometer-core/src/main/java/io/micrometer/core/instrument/config/MeterFilter.java
Labels: polish

#1361 Use type parameter consistently for registerMeterIfNecessary methods
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
Labels: polish

#1367 Replace concatenation with smaller one in LoggingMeterRegistry
  micrometer-core/src/main/java/io/micrometer/core/instrument/logging/LoggingMeterRegistry.java
Labels: polish

#1356 Update default distribution port to match metrics port
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontConfig.java
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontMeterRegistry.java
Labels: enhancement, registry: wavefront

#1334 Polish latest updates on Wavefront integration
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontConfig.java
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontDistributionSummary.java
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontMeterRegistry.java
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontMetricLineData.java
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontTimer.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export/wavefront/WavefrontProperties.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export/wavefront/WavefrontPropertiesConfigAdapter.java
Labels: polish, registry: wavefront

#1372 Use system-dependent line separator for logs
  implementations/micrometer-registry-datadog/src/main/java/io/micrometer/datadog/DatadogMeterRegistry.java
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverMeterRegistry.java
Labels: polish

#1373 Log request body on errors for Elasticsearch meter registry
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java
Labels: enhancement, registry: elastic

#1046 Configurable StatsD buffering
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/StatsdConfig.java
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/StatsdMeterRegistry.java
Labels: enhancement, registry: statsd

#1377 Add Javadoc since tags to Stackdriver classes
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverConfig.java
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverMeterRegistry.java
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverNamingConvention.java
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/util/ClearCustomMetricDescriptors.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export/stackdriver/StackdriverMetricsExportAutoConfiguration.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export/stackdriver/StackdriverProperties.java
Labels: polish, registry: stackdriver

#1290 Add GitHub SUPPORT file
  SUPPORT.adoc
Labels: type: task

#1378 Polish StackdriverNamingConvention
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverNamingConvention.java
  implementations/micrometer-registry-stackdriver/src/test/java/io/micrometer/stackdriver/StackdriverNamingConventionTest.java
Labels: polish, registry: stackdriver

#1379 Drop custom meters' non-finite measurements for New Relic Insights
  implementations/micrometer-registry-new-relic/src/main/java/io/micrometer/newrelic/NewRelicMeterRegistry.java
  implementations/micrometer-registry-new-relic/src/test/java/io/micrometer/newrelic/NewRelicMeterRegistryTest.java
Labels: bug, registry: new relic

#1380 Drop custom meters' non-finite measurements for Wavefront
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontMeterRegistry.java
  implementations/micrometer-registry-wavefront/src/test/java/io/micrometer/wavefront/WavefrontMeterRegistryTest.java
Labels: bug, registry: wavefront

#1382 Drop custom meters' non-finite measurements for InfluxDB
  implementations/micrometer-registry-influx/src/main/java/io/micrometer/influx/InfluxMeterRegistry.java
  implementations/micrometer-registry-influx/src/test/java/io/micrometer/influx/InfluxMeterRegistryTest.java
Labels: bug, registry: influx

#1386 Upgrade to Gradle Wrapper 5.4
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task

#1385 Permit use of https for configuring Prometheus push gateway
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export/prometheus/PrometheusMetricsExportAutoConfiguration.java
  micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export/prometheus/PrometheusProperties.java
  micrometer-spring-legacy/src/test/java/io/micrometer/spring/autoconfigure/export/prometheus/PrometheusMetricsExportAutoConfigurationTest.java
Labels: boot2-change, enhancement
