Repository micrometer-metrics/micrometer, pull requests merged in 2021-08, with the labels that each got.

#2728 Polish
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/StatsdProtocol.java
  implementations/micrometer-registry-statsd/src/test/java/io/micrometer/statsd/StatsdMeterRegistryPublishTest.java
Labels: polish

#2727 Use Dynatrace v2 export as default unless deviceId is set
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/DynatraceConfig.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceConfigTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v1/DynatraceExporterV1Test.java
Labels: enhancement, registry: dynatrace

#2753 Upgrade to Gradle Wrapper 7.2
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build

#2755 Revert "Upgrade to Gradle Wrapper 7.2"
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#2756 Add a build job on JDK 11
  .circleci/config.yml
Labels: type: task, build

#2759 Update samples to use Spring Boot 2.6.0-M2
  samples/micrometer-samples-boot2-reactive/build.gradle
  samples/micrometer-samples-boot2/build.gradle
  samples/micrometer-samples-spring-integration/build.gradle
Labels: dependency-upgrade
