Repository micrometer-metrics/micrometer, pull requests merged in 2021-01, with the labels that each got.

#2397 Upgrade to Gradle Wrapper 6.8
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: build, type: task

#2405 Include index date separator in index pattern for ElasticMeterRegistry
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java
Labels: bug, registry: elastic

#2409 Upgrade to test-retry-gradle-plugin 1.2.0
  build.gradle
Labels: build, type: task

#2408 Use latest.release for spring-javaformat-checkstyle
  build.gradle
Labels: build, type: task

#2407 Update samples to use Spring Boot 2.4.2
  samples/micrometer-samples-boot2-reactive/build.gradle
  samples/micrometer-samples-boot2/build.gradle
  samples/micrometer-samples-spring-integration/build.gradle
Labels: type: task

#2400 Make PrometheusMeterRegistry continue silently on meters with same name and different tags
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusMeterRegistry.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheus/PrometheusMeterRegistryTest.java
Labels: registry: prometheus

#2414 Upgrade to Gradle Wrapper 6.8.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: build, type: task

#2418 Rename Prometheus API Collector.Type enum' value UNTYPED to UNKNOWN
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/MicrometerCollector.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusMeterRegistry.java
Labels: registry: prometheus, type: task
