Repository micrometer-metrics/micrometer, pull requests merged in 2021-11, with the labels that each got.

#2849 Fix WavefrontMeterRegistryTest.configureDefaultSenderWithCustomConfig()
  implementations/micrometer-registry-wavefront/src/test/java/io/micrometer/wavefront/WavefrontMeterRegistryTest.java
Labels: type: task, registry: wavefront

#2850 Add javax.annotation.Nullable to IllegalImportCheck
  config/checkstyle/checkstyle-suppressions.xml
  config/checkstyle/checkstyle.xml
Labels: type: task

#2851 `DefaultLongTaskTimer` histogram bucket counting logic fix
  micrometer-core/src/main/java/io/micrometer/core/instrument/internal/DefaultLongTaskTimer.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/internal/CumulativeHistogramLongTaskTimerTest.java
  micrometer-test/src/main/java/io/micrometer/core/tck/DefaultLongTaskTimerTest.java
Labels: bug, module: micrometer-core

#2854 Deprecate remaining Jersey classes
  micrometer-jersey2/src/main/java/io/micrometer/jersey2/server/TimedFinder.java
  micrometer-jersey2/src/test/java/io/micrometer/jersey2/server/DefaultJerseyTagsProviderTest.java
  micrometer-jersey2/src/test/java/io/micrometer/jersey2/server/MetricsRequestEventListenerTest.java
  micrometer-jersey2/src/test/java/io/micrometer/jersey2/server/MetricsRequestEventListenerTimedTest.java
Labels: type: task, module: micrometer-jersey

#2856 Timer handlers
  micrometer-core/src/main/java/io/micrometer/core/aop/TimedAspect.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/AbstractTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/AbstractTimerBuilder.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/ImmutableTag.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/TagsProvider.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/Timer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/TimerRecordingHandler.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/IntervalHttpClientEvent.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/IntervalHttpEvent.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/IntervalHttpServerEvent.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/Kind.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/HttpClientRequest.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/HttpClientResponse.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/HttpRequest.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/HttpResponse.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/HttpServerRequest.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/HttpServerResponse.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/Request.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/transport/http/Response.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/AllMatchingCompositeTimerRecordingHandlerTests.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/FirstMatchingCompositeTimerRecordingHandlerTests.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jersey/server/MetricsRequestEventListenerTimedTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jetty/TimedHandlerTest.java
  micrometer-jersey2/src/test/java/io/micrometer/jersey2/server/MetricsRequestEventListenerTimedTest.java
  micrometer-test/src/main/java/io/micrometer/core/tck/AnyHandlerContextTimerRecordingHandlerCompatibilityKit.java
  micrometer-test/src/main/java/io/micrometer/core/tck/ConcreteHandlerContextTimerRecordingHandlerCompatibilityKit.java
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryAssert.java
  micrometer-test/src/main/java/io/micrometer/core/tck/NullHandlerContextTimerRecordingHandlerCompatibilityKit.java
  micrometer-test/src/test/java/io/micrometer/core/tck/AnyHandlerContextTimerRecordingHandlerCompatibilityKitTests.java
  micrometer-test/src/test/java/io/micrometer/core/tck/ConcreteHandlerContextTimerRecordingHandlerCompatibilityKitTests.java
  micrometer-test/src/test/java/io/micrometer/core/tck/MeterRegistryAssertTests.java
  micrometer-test/src/test/java/io/micrometer/core/tck/NullContextTimerRecordingHandlerCompatibilityKitTests.java
  samples/micrometer-samples-boot2-reactive/src/main/java/io/micrometer/boot2/reactive/samples/PrometheusSample.java
  samples/micrometer-samples-boot2-reactive/src/main/java/io/micrometer/boot2/reactive/samples/SampleConfig.java
  samples/micrometer-samples-boot2-reactive/src/main/java/io/micrometer/boot2/reactive/samples/boot/autoconfig/PocMetricsWebClientCustomizer.java
  samples/micrometer-samples-boot2-reactive/src/main/java/io/micrometer/boot2/reactive/samples/boot/autoconfig/PocMetricsWebClientFilterFunction.java
  samples/micrometer-samples-boot2-reactive/src/main/java/io/micrometer/boot2/reactive/samples/boot/autoconfig/PocMetricsWebFilter.java
  samples/micrometer-samples-boot2-reactive/src/main/java/io/micrometer/boot2/reactive/samples/boot/autoconfig/WebFluxMetricsTemporaryConfig.java
  samples/micrometer-samples-boot2-reactive/src/main/resources/application.yml
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/TimerRecordingListenerSample.java
Labels: enhancement, module: micrometer-core

#2871 Current sample and Scope API
  build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/Timer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/TimerRecordingHandler.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/internal/TimedRunnable.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/HttpClientHandlerContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/HttpHandlerContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/HttpServerHandlerContext.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/AllMatchingCompositeTimerRecordingHandlerTests.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/CurrentSampleTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/FirstMatchingCompositeTimerRecordingHandlerTests.java
  micrometer-test/src/main/java/io/micrometer/core/tck/AnyHandlerContextTimerRecordingHandlerCompatibilityKit.java
  micrometer-test/src/main/java/io/micrometer/core/tck/ConcreteHandlerContextTimerRecordingHandlerCompatibilityKit.java
  micrometer-test/src/main/java/io/micrometer/core/tck/NullHandlerContextTimerRecordingHandlerCompatibilityKit.java
  micrometer-test/src/test/java/io/micrometer/core/tck/AnyHandlerContextTimerRecordingHandlerCompatibilityKitTests.java
  micrometer-test/src/test/java/io/micrometer/core/tck/ConcreteHandlerContextTimerRecordingHandlerCompatibilityKitTests.java
  micrometer-test/src/test/java/io/micrometer/core/tck/NullContextTimerRecordingHandlerCompatibilityKitTests.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/TimerRecordingListenerSample.java
Labels: enhancement

#2874 `jvm.gc.live.data.size` and `max` not updating for optavgpause/optthruput collectors
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmGcMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jvm/JvmGcMetricsTest.java
Labels: bug, module: micrometer-core
