Repository micrometer-metrics/micrometer, pull requests merged in 2021-06, with the labels that each got.

#2636 Apply Checkstyle SingleSpaceSeparator module
  config/checkstyle/checkstyle.xml
  implementations/micrometer-registry-humio/src/main/java/io/micrometer/humio/HumioMeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/kafka/KafkaConsumerMetrics.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/logging/Log4j2Metrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/TagsTest.java
Labels: type: task

#2651 Fix error log for custom metric put failures
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/DynatraceMeterRegistry.java
Labels: polish, registry: dynatrace

#2650 Fix DistributionSummary for Dynatrace
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/DynatraceMeterRegistry.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceMeterRegistryTest.java
Labels: bug, registry: dynatrace

#2652 Polish Dynatrace changes
  dependencies.gradle
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/AbstractDynatraceExporter.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/DynatraceConfig.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/DynatraceMeterRegistry.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/DynatraceNamingConvention.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v1/DynatraceExporterV1.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceConfigTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceMeterRegistryTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceNamingConventionTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v1/DynatraceNamingConventionV1Test.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/util/MeterPartition.java
Labels: polish, registry: dynatrace

#2655 Fix typo
  CONTRIBUTING.md
Labels: polish

#2654 Disable bootJarMainClassName task in micrometer-samples-boot2
  samples/micrometer-samples-boot2/build.gradle
Labels: type: task

#2656 Update dynatrace-metric-utils-java dependency
  dependencies.gradle
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: registry: dynatrace, type: task

#2623 Include the number of active instances in CommonsObjectPool2Metrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/commonspool2/CommonsObjectPool2Metrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/commonspool2/CommonsObjectPool2MetricsTest.java
Labels: enhancement, module: micrometer-core

#2660 Upgrade google-cloud-monitoring to latest
  dependencies.gradle
Labels: dependency-upgrade, registry: stackdriver

#2674 Use `StringBuilder.append(char)` where possible
  implementations/micrometer-registry-appoptics/src/main/java/io/micrometer/appoptics/AppOpticsMeterRegistry.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java
  implementations/micrometer-registry-graphite/src/main/java/io/micrometer/graphite/GraphiteHierarchicalNameMapper.java
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverMeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/ipc/http/HttpSender.java
Labels: performance, type: task
