Repository micrometer-metrics/micrometer, pull requests merged in 2022-08, with the labels that each got.

#3323 Scoped checked actions
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
Labels: enhancement, module: micrometer-observation

#3325 Document TimeWindowPercentileHistogram as internal
  micrometer-core/src/main/java/io/micrometer/core/instrument/distribution/TimeWindowPercentileHistogram.java
Labels: doc-update, type: task, module: micrometer-core

#3328 Polish HTTP client instrumentation TCK changes
  micrometer-test/src/main/java/io/micrometer/core/instrument/HttpClientTimingInstrumentationVerificationTests.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/InstrumentationVerificationTests.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/JettyClientTimingInstrumentationVerificationTests.java
Labels: polish, module: micrometer-test

#3326 Generify throwable in CheckedCallable/CheckedRunnable
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationTests.java
Labels: enhancement, breaking-change, module: micrometer-observation

#3263 Declare HdrHistogram as a runtime dependency
  micrometer-core/build.gradle
Labels: enhancement, module: micrometer-core

#3334 Upgrade to Gradle Wrapper 7.5.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: type: task, build, dependency-upgrade

#3347 Add Javadoc since for new record() variants
  micrometer-core/src/main/java/io/micrometer/core/instrument/LongTaskTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/Timer.java
Labels: polish

#3350 [signalfxregistry]: Add option to send delta histogram count buckets.
  build.gradle
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/DeltaHistogramCounts.java
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalFxConfig.java
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalFxMeterRegistry.java
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalfxDistributionSummary.java
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalfxTimer.java
  implementations/micrometer-registry-signalfx/src/test/java/io/micrometer/signalfx/DeltaHistogramCountsTest.java
  implementations/micrometer-registry-signalfx/src/test/java/io/micrometer/signalfx/SignalFxMeterRegistryTest.java
Labels: enhancement, registry: signalfx

#3352 Configure Dependabot for GitHub Actions
  .github/dependabot.yml
Labels: type: task, build

#3355 Revert "Write dependency locks for release"
  benchmarks/benchmarks-core/gradle.lockfile
  dependencies.gradle
  implementations/micrometer-registry-appoptics/gradle.lockfile
  implementations/micrometer-registry-atlas/gradle.lockfile
  implementations/micrometer-registry-azure-monitor/gradle.lockfile
  implementations/micrometer-registry-cloudwatch/gradle.lockfile
  implementations/micrometer-registry-cloudwatch2/gradle.lockfile
  implementations/micrometer-registry-datadog/gradle.lockfile
  implementations/micrometer-registry-dynatrace/gradle.lockfile
  implementations/micrometer-registry-elastic/gradle.lockfile
  implementations/micrometer-registry-ganglia/gradle.lockfile
  implementations/micrometer-registry-graphite/gradle.lockfile
  implementations/micrometer-registry-health/gradle.lockfile
  implementations/micrometer-registry-humio/gradle.lockfile
  implementations/micrometer-registry-influx/gradle.lockfile
  implementations/micrometer-registry-jmx/gradle.lockfile
  implementations/micrometer-registry-kairos/gradle.lockfile
  implementations/micrometer-registry-new-relic/gradle.lockfile
  implementations/micrometer-registry-opentsdb/gradle.lockfile
  implementations/micrometer-registry-otlp/gradle.lockfile
  implementations/micrometer-registry-prometheus/gradle.lockfile
  implementations/micrometer-registry-signalfx/gradle.lockfile
  implementations/micrometer-registry-stackdriver/build.gradle
  implementations/micrometer-registry-stackdriver/gradle.lockfile
  implementations/micrometer-registry-statsd/gradle.lockfile
  implementations/micrometer-registry-wavefront/gradle.lockfile
  micrometer-bom/gradle.lockfile
  micrometer-commons/gradle.lockfile
  micrometer-core/gradle.lockfile
  micrometer-observation-test/gradle.lockfile
  micrometer-observation/gradle.lockfile
  micrometer-test/gradle.lockfile
  samples/micrometer-samples-boot2-reactive/gradle.lockfile
  samples/micrometer-samples-boot2/gradle.lockfile
  samples/micrometer-samples-core/gradle.lockfile
  samples/micrometer-samples-hazelcast/gradle.lockfile
  samples/micrometer-samples-hazelcast3/gradle.lockfile
  samples/micrometer-samples-javalin/gradle.lockfile
  samples/micrometer-samples-jersey3/gradle.lockfile
  samples/micrometer-samples-spring-integration/gradle.lockfile
Labels: type: task, registry: stackdriver

#3356 Use 5.9.+ for JUnit BOM
  dependencies.gradle
Labels: dependency-upgrade

#3359 Polish
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpObservationInterceptor.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/ReceiverContext.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/RequestReplyReceiverContext.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/RequestReplySenderContext.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/SenderContext.java
Labels: polish

#3357 Abstraction for instrumentating with a Timer or Observation (optionally)
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/ObservationOrTimerCompatibleInstrumentation.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/observation/ObservationOrTimerCompatibleInstrumentationTest.java
Labels: enhancement, module: micrometer-core

#3362 Common ResponseContext interface for interacting with the response
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/ObservationOrTimerCompatibleInstrumentation.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/RequestReplyReceiverContext.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/RequestReplySenderContext.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/ResponseContext.java
Labels: enhancement, module: micrometer-core, module: micrometer-observation

#3364 signalfx: remove unnecessary allocation if the distribution summary does not have histogram
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalfxDistributionSummary.java
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalfxTimer.java
Labels: enhancement, registry: signalfx

#3365 Polish
  micrometer-core/src/main/java/io/micrometer/core/instrument/HighCardinalityTagsDetector.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/DefaultMeterObservationHandler.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationHandler.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationRegistry.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
Labels: polish

#3363 Remote service name for sender context
  micrometer-observation/src/main/java/io/micrometer/observation/transport/SenderContext.java
Labels: enhancement

#3366 Polish Observation bits
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationContextAssertTests.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/aop/ObservedAspect.java
  micrometer-observation/src/test/java/io/micrometer/observation/docs/DocumentedObservationTests.java
Labels: polish, module: micrometer-observation, module: micrometer-observation-test

#3368 Polish Observation tests and javadoc
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationRegistryAssertTests.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationConventionTest.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationRegistryTest.java
Labels: polish

#3369 signalfx: add tests for emiting percentile and histograms, fix timer
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalfxTimer.java
  implementations/micrometer-registry-signalfx/src/test/java/io/micrometer/signalfx/SignalFxMeterRegistryTest.java
Labels: bug, registry: signalfx

#3367 Events in DocumentedObservation
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/AnyContextObservationHandlerCompatibilityKit.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ConcreteContextObservationHandlerCompatibilityKit.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/docs/DocumentedObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/AllMatchingCompositeObservationHandlerTests.java
  micrometer-observation/src/test/java/io/micrometer/observation/FirstMatchingCompositeObservationHandlerTests.java
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/ObservationHandlerSample.java
Labels: enhancement, breaking-change

#3374 Polish KeyValues and TCK
  micrometer-commons/src/main/java/io/micrometer/common/KeyValue.java
  micrometer-commons/src/main/java/io/micrometer/common/KeyValues.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
Labels: polish

#3375 Polish
  micrometer-core/src/main/java/io/micrometer/core/instrument/AbstractTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/LongTaskTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/CacheMeterBinder.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/CaffeineCacheMetrics.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/CaffeineStatsCounter.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/EhCache2Metrics.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/GuavaCacheMetrics.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/HazelcastCacheMetrics.java
Labels: polish

#3358 JDK11 HttpClient instrumentation
  .circleci/config.yml
  CONTRIBUTING.md
  README.md
  build.gradle
  micrometer-core/build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/ObservationOrTimerCompatibleInstrumentation.java
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/DefaultHttpClientObservationConvention.java
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/HttpClientContext.java
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/HttpClientDocumentedObservation.java
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/HttpClientObservationConvention.java
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/MicrometerHttpClient.java
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/package-info.java
  micrometer-core/src/test/java11/io/micrometer/core/instrument/binder/jdk/MicrometerHttpClientTests.java
  micrometer-test/build.gradle
  micrometer-test/src/test/java11/io/micrometer/core/instrument/JdkHttpClientTimingInstrumentationVerificationTests.java
Labels: enhancement

#3380 Upgrade to Test Retry Gradle Plugin 1.4.1
  build.gradle
  buildscript-gradle.lockfile
Labels: build, dependency-upgrade
