Repository micrometer-metrics/micrometer, pull requests merged in 2022-02, with the labels that each got.

#2990 Polish "Self Documenting code"
  micrometer-api/src/main/java/io/micrometer/api/instrument/docs/DocumentedSample.java
  micrometer-api/src/main/java/io/micrometer/api/instrument/docs/TagKey.java
Labels: polish, module: micrometer-api

#3001 Upgrade to Gradle Wrapper 7.4
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build, dependency-upgrade

#2916 Allow file-based configuration for Dynatrace v2 exporter
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/DynatraceConfig.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
  implementations/micrometer-registry-dynatrace/src/test/java/com/dynatrace/file/util/FileBasedConfigurationTestHelper.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceConfigTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: enhancement, registry: dynatrace

#3034 Observation text publisher
  micrometer-api/src/main/java/io/micrometer/api/instrument/observation/Observation.java
  micrometer-api/src/main/java/io/micrometer/api/instrument/observation/ObservationTextPublisher.java
  micrometer-api/src/test/java/io/micrometer/api/instrument/observation/ObservationTextPublisherTests.java
  micrometer-test/src/main/java/io/micrometer/core/tck/ObservationRegistryCompatibilityKit.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/ObservationHandlerSample.java
Labels: enhancement, module: micrometer-api

#568 Remove StatsdConfig.queueSize()
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/StatsdConfig.java
Labels: type: task, registry: statsd

#2987 Remove deprecated MissingRequiredConfigurationException and its usages
  implementations/micrometer-registry-cloudwatch/src/main/java/io/micrometer/cloudwatch/CloudWatchConfig.java
  implementations/micrometer-registry-cloudwatch/src/main/java/io/micrometer/cloudwatch/CloudWatchMeterRegistry.java
  micrometer-api/src/main/java/io/micrometer/api/instrument/config/MissingRequiredConfigurationException.java
Labels: type: task, registry: cloudwatch, module: micrometer-core

#3040 Add observe method to the Observation for Runnable and Supplier
  micrometer-api/src/main/java/io/micrometer/api/instrument/observation/Observation.java
  micrometer-test/src/main/java/io/micrometer/core/tck/ObservationRegistryCompatibilityKit.java
Labels: enhancement
