Repository micrometer-metrics/micrometer, pull requests merged in 2022-03, with the labels that each got.

#3050 Move cache and http core classes back to core
  implementations/micrometer-registry-health/build.gradle
  implementations/micrometer-registry-statsd/build.gradle
  micrometer-binders/build.gradle
  micrometer-binders/src/main/java/io/micrometer/binder/cache/CacheMeterBinder.java
  micrometer-binders/src/main/java/io/micrometer/binder/cache/CaffeineCacheMetrics.java
  micrometer-binders/src/main/java/io/micrometer/binder/cache/EhCache2Metrics.java
  micrometer-binders/src/main/java/io/micrometer/binder/cache/GuavaCacheMetrics.java
  micrometer-binders/src/main/java/io/micrometer/binder/cache/HazelcastCacheMetrics.java
  micrometer-binders/src/main/java/io/micrometer/binder/cache/JCacheMetrics.java
  micrometer-binders/src/main/java/io/micrometer/binder/http/DefaultHttpServletRequestTagsProvider.java
  micrometer-binders/src/main/java/io/micrometer/binder/http/HttpRequestTags.java
  micrometer-binders/src/main/java/io/micrometer/binder/http/HttpServletRequestTagsProvider.java
  micrometer-binders/src/main/java/io/micrometer/binder/http/Outcome.java
  micrometer-binders/src/main/java/io/micrometer/binder/http/package-info.java
  micrometer-binders/src/main/java/io/micrometer/binder/jersey/server/JerseyTags.java
  micrometer-binders/src/main/java/io/micrometer/binder/jetty/JettyClientTags.java
  micrometer-binders/src/main/java/io/micrometer/binder/jetty/TimedHandler.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/CaffeineCacheMetricsCompatibilityTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/CaffeineCacheMetricsTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/EhCache2MetricsCompatibilityTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/EhCache2MetricsTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/GuavaCacheMetricsCompatibilityKit.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/GuavaCacheMetricsTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/HazelcastCacheMetricsCompatibilityTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/HazelcastCacheMetricsTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/JCacheMetricsCompatibilityTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/cache/JCacheMetricsTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/jetty/TimedHandlerTest.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/CacheMeterBinder.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/package-info.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/DefaultHttpServletRequestTagsProvider.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/HttpRequestTags.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/HttpServletRequestTagsProvider.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/Outcome.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/package-info.java
  micrometer-test/build.gradle
  micrometer-test/src/main/java/io/micrometer/binder/cache/CacheMeterBinderCompatibilityKit.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/binder/cache/AbstractCacheMetricsTest.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/binder/cache/CacheMeterBinderCompatibilityKit.java
  micrometer-test/src/test/java/io/micrometer/binder/cache/CaffeineCacheMetricsCompatibilityTest.java
  micrometer-test/src/test/java/io/micrometer/binder/cache/EhCache2MetricsCompatibilityTest.java
  micrometer-test/src/test/java/io/micrometer/binder/cache/GuavaCacheMetricsCompatibilityKit.java
  micrometer-test/src/test/java/io/micrometer/binder/cache/HazelcastCacheMetricsCompatibilityTest.java
  micrometer-test/src/test/java/io/micrometer/binder/cache/JCacheMetricsCompatibilityTest.java
  samples/micrometer-samples-hazelcast3/src/test/java/io/micrometer/samples/hazelcast3/Hazelcast3CacheMetricsCompatibilityTest.java
  samples/micrometer-samples-javalin/src/main/java/io/micrometer/javalin/samples/PrometheusSample.java
Labels: type: task, module: micrometer-core

#1525 Add base units for ForkJoinPool
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetrics.java
Labels: enhancement, release notes, module: micrometer-core

#1214 Add tests for dropwizard package
  micrometer-core/src/test/java/io/micrometer/core/instrument/dropwizard/DropwizardClockTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/dropwizard/DropwizardCounterTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/dropwizard/DropwizardFunctionTimerTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/dropwizard/DropwizardGaugeTest.java
Labels: type: task, module: micrometer-core

#3057 Add Javadoc since for new PrometheusMeterRegistry constructor
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusMeterRegistry.java
Labels: polish, registry: prometheus

#3055 Polish Dynatrace changes
  implementations/micrometer-registry-dynatrace/src/test/java/com/dynatrace/file/util/FileBasedConfigurationTestHelper.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceConfigTest.java
Labels: polish, registry: dynatrace

#3052 Add observeChecked methods to observe methods that can throw exceptions
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/Observation.java
  micrometer-test/src/main/java/io/micrometer/core/tck/ObservationRegistryCompatibilityKit.java
Labels: enhancement

#3061 Added Global Tags Provider
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/Observation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/ObservationRegistry.java
  micrometer-test/src/main/java/io/micrometer/core/tck/ObservationRegistryCompatibilityKit.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/ObservationHandlerSample.java
Labels: enhancement

#3062 Updated readme to contain JDK8 information
  README.md
Labels: doc-update

#3063 Upgrade to Gradle Wrapper 7.4.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build

#3065 Simplify tests after Dynatrace Metric Utils 1.5.0 release
  implementations/micrometer-registry-dynatrace/src/test/java/com/dynatrace/file/util/FileBasedConfigurationTestHelper.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/DynatraceConfigTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: type: task, registry: dynatrace

#3059 Prevent CompositeMeter allocating on each record
  micrometer-core/src/main/java/io/micrometer/core/instrument/composite/AbstractCompositeMeter.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/composite/CompositeCounter.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/composite/CompositeDistributionSummary.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/composite/CompositeLongTaskTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/composite/CompositeTimer.java
Labels: enhancement, performance, module: micrometer-core

#2994 Improve cacheability ignoring Java vendor and minor version in Nebula's generated manifest
  build.gradle
Labels: type: task, build

#3069 Add MongoCommandStartedEventTags for Mongodb metrics
  micrometer-binders/src/main/java/io/micrometer/binder/mongodb/DefaultMongoCommandTagsProvider.java
  micrometer-binders/src/main/java/io/micrometer/binder/mongodb/MongoCommandStartedEventTags.java
  micrometer-binders/src/test/java/io/micrometer/binder/mongodb/DefaultMongoCommandTagsProviderTest.java
  micrometer-binders/src/test/java/io/micrometer/binder/mongodb/MongoCommandStartedEventTagsTest.java
Labels: enhancement, module: micrometer-binders

#3099 Polish MongoDB binder changes
  micrometer-binders/src/main/java/io/micrometer/binder/mongodb/DefaultMongoCommandTagsProvider.java
  micrometer-binders/src/main/java/io/micrometer/binder/mongodb/MongoCommandStartedEventTags.java
  micrometer-binders/src/test/java/io/micrometer/binder/mongodb/MongoCommandStartedEventTagsTest.java
Labels: polish, module: micrometer-binders

#2363 Make _source.enabled configurable for ElasticMeterRegistry
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticConfig.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java
Labels: enhancement, registry: elastic

#3098 Polish observation changes
  micrometer-observation-test/src/main/java/io/micrometer/core/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
Labels: polish, module: micrometer-observation

#3092 Moved out utils, docs and loggers to commons module
  config/checkstyle/checkstyle-suppressions.xml
  micrometer-commons/build.gradle
  micrometer-commons/src/main/java/io/micrometer/common/ImmutableTag.java
  micrometer-commons/src/main/java/io/micrometer/common/Tag.java
  micrometer-commons/src/main/java/io/micrometer/common/Tags.java
  micrometer-commons/src/main/java/io/micrometer/common/docs/TagKey.java
  micrometer-commons/src/main/java/io/micrometer/common/lang/NonNull.java
  micrometer-commons/src/main/java/io/micrometer/common/lang/NonNullApi.java
  micrometer-commons/src/main/java/io/micrometer/common/lang/NonNullFields.java
  micrometer-commons/src/main/java/io/micrometer/common/lang/Nullable.java
  micrometer-commons/src/main/java/io/micrometer/common/util/StringUtils.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/AbstractInternalLogger.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/FormattingTuple.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/InternalLogLevel.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/InternalLogger.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/InternalLoggerFactory.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/JdkLogger.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/JdkLoggerFactory.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/LocationAwareSlf4JLogger.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/MessageFormatter.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/Slf4JLogger.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/Slf4JLoggerFactory.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/WarnThenDebugLogger.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/package-info.java
  micrometer-core/build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/docs/DocumentedMeter.java
  micrometer-observation-test/src/main/java/io/micrometer/core/tck/ObservationContextAssert.java
  micrometer-observation-test/src/main/java/io/micrometer/core/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/build.gradle
  micrometer-observation/src/main/java/io/micrometer/observation/NoopObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationTextPublisher.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/docs/DocumentedObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/http/context/HttpContext.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/http/tags/DefaultHttpTagsProvider.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/http/tags/HttpTags.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/http/tags/HttpTagsProvider.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/http/tags/Outcome.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationTextPublisherTests.java
  micrometer-observation/src/test/java/io/micrometer/observation/TagsProviderTest.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/ObservationHandlerSample.java
  settings.gradle
Labels: breaking-change
