Repository micrometer-metrics/micrometer, pull requests merged in 2022-07, with the labels that each got.

#3259 Use `latest.release` for `io.opentelemetry.proto:opentelemetry-proto`
  implementations/micrometer-registry-otlp/build.gradle
Labels: dependency-upgrade, registry: otlp

#3260 Update samples to use Spring Boot 2.7.1
  samples/micrometer-samples-boot2-reactive/build.gradle
  samples/micrometer-samples-boot2/build.gradle
  samples/micrometer-samples-spring-integration/build.gradle
Labels: type: task

#3267 Add ObservationContextAssert error assertions
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationContextAssertTests.java
Labels: enhancement

#3266 Improved keys assertions in ObservationContextAssert
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationContextAssertTests.java
Labels: enhancement

#3261 Further improvement of observation convention
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/DefaultOkHttpObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpDocumentedObservation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpMetricsEventListener.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationRegistry.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservationRegistry.java
  micrometer-observation/src/main/java/io/micrometer/observation/docs/DocumentedObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/docs/DocumentedObservationTests.java
Labels: enhancement

#3272 Apply Spotless for Kotlin
  build.gradle
  buildscript-gradle.lockfile
  micrometer-core/src/main/kotlin/io/micrometer/core/instrument/kotlin/AsContextElement.kt
  micrometer-core/src/test/kotlin/io/micrometer/core/instrument/kotlin/AsContextElementKtTests.kt
Labels: type: task

#3270 Added the ObservationConventionAware interface
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
Labels: enhancement

#3237 Add Dependabot to monitor Gradle plugin updates
  .github/dependabot.yml
Labels: type: task, dependency-upgrade

#3288 Add test for LatencyUtils exclude
  micrometer-core/build.gradle
  micrometer-core/gradle.lockfile
  micrometer-core/src/test/java/io/micrometer/core/instrument/MissingLatencyUtilsTest.java
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ClassPathExclusions.java
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ClassPathOverrides.java
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ForkedClassPath.java
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ModifiedClassPathClassLoader.java
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ModifiedClassPathExtension.java
Labels: type: task, module: micrometer-core

#3285 Introduces GlobalObservationConvention
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationRegistry.java
  micrometer-observation/src/main/java/io/micrometer/observation/docs/DocumentedObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationRegistryTest.java
Labels: enhancement, breaking-change

#3292 Upgrade to Gradle Wrapper 7.5
  build.gradle
  dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  micrometer-core/gradle.lockfile
Labels: type: task, build

#3291 Added option to set a parent Observation on an existing Observation
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistryAssert.java
  micrometer-observation/src/main/java/io/micrometer/observation/NoopObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationTests.java
Labels: enhancement

#3295 Removes *Aware interfaces
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
Labels: breaking-change

#3247 Observe instantaneous events
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/DefaultMeterObservationHandler.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/MeterObservationHandler.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpObservationInterceptorTest.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/AnyContextObservationHandlerCompatibilityKit.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ConcreteContextObservationHandlerCompatibilityKit.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/NullContextObservationHandlerCompatibilityKit.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/AnyContextObservationHandlerCompatibilityKitTests.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ConcreteContextObservationHandlerCompatibilityKitTests.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/NullContextObservationHandlerCompatibilityKitTests.java
  micrometer-observation/src/main/java/io/micrometer/observation/NoopObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationHandler.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationTextPublisher.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/AllMatchingCompositeObservationHandlerTests.java
  micrometer-observation/src/test/java/io/micrometer/observation/FirstMatchingCompositeObservationHandlerTests.java
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/ObservationHandlerSample.java
Labels: enhancement, breaking-change, module: micrometer-observation

#3301 Add getContextualName(Context c) on Observation.Convention
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/docs/DocumentedObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/docs/DocumentedObservationTests.java
Labels: enhancement

#3304 ObservationContextAssert now asserts ContextView, add parentObservation assertions
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationContextAssertTests.java
Labels: enhancement, module: micrometer-observation-test

#3303 Add ObservationRegistry hasRemainingCurrentScope and similar assertions
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationRegistryAssertTests.java
Labels: enhancement, module: micrometer-observation-test

#3306 Removing KeyValuesProvider
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/src/main/java/io/micrometer/observation/NoopObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/NoopObservationConfig.java
  micrometer-observation/src/main/java/io/micrometer/observation/NoopObservationConvention.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationRegistry.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/aop/ObservedAspect.java
  micrometer-observation/src/main/java/io/micrometer/observation/aop/ObservedAspectObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/KeyValuesProviderTest.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationRegistryTest.java
  micrometer-observation/src/test/java/io/micrometer/observation/aop/ObservedAspectTests.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/ObservationHandlerSample.java
Labels: breaking-change, module: micrometer-observation

#3309 Allow InstrumentationVerificationTests in other packages
  micrometer-test/src/main/java/io/micrometer/core/instrument/InstrumentationVerificationTests.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/ApacheHttpClientTimingInstrumentationVerificationTests.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/JettyClientTimingInstrumentationVerificationTests.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/OkHttpClientTimingInstrumentationVerificationTests.java
Labels: type: task, module: micrometer-test

#3313 Avoid allocation of iterator with Tags#empty instance
  micrometer-core/src/main/java/io/micrometer/core/instrument/Tags.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/TagsTest.java
Labels: enhancement, performance, module: micrometer-core

#3315 [otlp registry]: use private for members when possible
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpCounter.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpFunctionCounter.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpFunctionTimer.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpLongTaskTimer.java
Labels: polish, registry: otlp

#3314 [otlp registry]: Remove unnecessary private method, and null check
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpTimer.java
Labels: polish, registry: otlp

#3310 KeyValue and KeyName improvements
  micrometer-commons/src/main/java/io/micrometer/common/ImmutableKeyValue.java
  micrometer-commons/src/main/java/io/micrometer/common/KeyValue.java
  micrometer-commons/src/main/java/io/micrometer/common/ValidatedKeyValue.java
  micrometer-commons/src/main/java/io/micrometer/common/docs/KeyName.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/DefaultOkHttpObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpDocumentedObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/aop/ObservedAspectObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/docs/DocumentedObservation.java
Labels: polish, breaking-change, module: micrometer-common

#3316 Avoid few lines of duplicate code, implement CumulativeFunctionTimer using AbstractMeter
  micrometer-core/src/main/java/io/micrometer/core/instrument/cumulative/CumulativeFunctionTimer.java
Labels: polish, module: micrometer-core

#3317 Make conventions more deterministic for name, contextualName and keyValues
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpObservationInterceptor.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpObservationInterceptorTest.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
Labels: type: task, module: micrometer-observation

#3318 Avoid duplicate keyValues in the toString of the Context
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationRegistryCompatibilityKit.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
Labels: type: task, module: micrometer-observation

#3319 Polish Observation related components
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationContextAssertTests.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationRegistry.java
  micrometer-observation/src/main/java/io/micrometer/observation/docs/DocumentedObservation.java
  micrometer-observation/src/test/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessorTests.java
  micrometer-observation/src/test/java/io/micrometer/observation/docs/DocumentedObservationTests.java
Labels: polish, module: micrometer-observation, module: micrometer-observation-test
