Repository micrometer-metrics/micrometer, pull requests merged in 2022-01, with the labels that each got.

#2938 Use daemon thread in CommonsObjectPool2Metrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/commonspool2/CommonsObjectPool2Metrics.java
Labels: type: task

#2937 Upgrade to Log4j 2 2.17.1
  micrometer-core/gradle.lockfile
Labels: dependency-upgrade

#2935 Suppress "warning: no comment" in javadoc task
  build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/CaffeineCacheMetrics.java
Labels: type: task, build

#2934 Disable javadoc task for sample projects
  build.gradle
Labels: type: task, build

#2946 Add method to SimpleMeterRegistry for outputting all meters
  micrometer-core/src/main/java/io/micrometer/core/instrument/simple/SimpleMeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/simple/SimpleMeterRegistryTest.java
Labels: enhancement, module: micrometer-core

#2949 Upgrade to Gradle Enterprise Gradle plugin 3.8
  settings.gradle
Labels: type: task, build

#2951 Improve tests for 2.0.x
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/Timer.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/HandlerContextTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/MeterRegistryTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/TagsProviderTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/tracing/context/HttpClientHandlerContextTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/tracing/context/HttpServerHandlerContextTests.java
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java
Labels: module: micrometer-core

#2945 Introduce HttpTagsProvider with default implementation
  micrometer-core/src/main/java/io/micrometer/core/instrument/Timer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/DefaultHttpTagsProvider.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/HttpTags.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/http/HttpTagsProvider.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/HttpClientHandlerContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/HttpHandlerContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/tracing/context/HttpServerHandlerContext.java
Labels: enhancement, module: micrometer-core

#2969 Update "system.cpu.usage" description to match the updated JVM behavior
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/system/ProcessorMetrics.java
Labels: polish, module: micrometer-core

#2474 Correct PostgreSQL metrics for dead tuples, with integration tests and refactoring
  dependencies.gradle
  micrometer-core/build.gradle
  micrometer-core/gradle.lockfile
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/db/PostgreSQLDatabaseMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/db/PostgreSQLDatabaseMetricsIntegrationTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/db/PostgreSQLDatabaseMetricsTest.java
Labels: bug, module: micrometer-core

#2984 Use Testcontainers for MongoDB integration tests
  dependencies.gradle
  micrometer-core/build.gradle
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/AbstractMongoDbTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsCommandListenerTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsConnectionPoolListenerTest.java
Labels: type: task, module: micrometer-core

#2983 Polish PostgreSQL changes
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/db/PostgreSQLDatabaseMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/db/PostgreSQLDatabaseMetricsIntegrationTest.java
Labels: polish, module: micrometer-core

#2986 Upgrade Elasticsearch Docker image to 7.16.3 in integration tests
  implementations/micrometer-registry-elastic/src/test/java/io/micrometer/elastic/ElasticsearchMeterRegistryElasticsearch7IntegrationTest.java
Labels: type: task, registry: elastic
