Repository micrometer-metrics/micrometer, pull requests merged in 2023-08, with the labels that each got.

#4009 Polish gh-3924
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepMeterRegistryTest.java
Labels: type: task, module: micrometer-core

#4007 Add Observability instrumentation for Jakarta JMS
  dependencies.gradle
  micrometer-core/build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/DefaultJmsProcessObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/DefaultJmsPublishObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/JmsInstrumentation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/JmsObservationDocumentation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/JmsProcessObservationContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/JmsProcessObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/JmsPublishObservationContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/JmsPublishObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/MessageConsumerInvocationHandler.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/MessageProducerInvocationHandler.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/SessionInvocationHandler.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jms/package-info.java
  micrometer-core/src/main/resources/META-INF/native-image/io.micrometer/micrometer-core/proxy-config.json
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jms/DefaultJmsProcessObservationConventionTests.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jms/DefaultJmsPublishObservationConventionTests.java
  micrometer-test/build.gradle
  micrometer-test/src/test/java/io/micrometer/core/instrument/binder/jms/JmsInstrumentationTests.java
Labels: enhancement, module: micrometer-core, instrumentation

#4029 Use 5.10.+ for junit-bom
  dependencies.gradle
Labels: dependency-upgrade, module: micrometer-test, module: micrometer-observation-test

#3996 Add exemplar support to _count
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusDistributionSummary.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusHistogram.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusMeterRegistry.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusTimer.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheus/PrometheusMeterRegistryTest.java
Labels: enhancement, registry: prometheus

#4038 Add xxxKeyValue() variants with KeyValue to ObservationContextAssert
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationContextAssertTests.java
Labels: enhancement

#4049 Upgrade samples to Spring Boot 2.7.15
  samples/micrometer-samples-boot2-reactive/build.gradle
  samples/micrometer-samples-boot2-reactive/gradle.lockfile
  samples/micrometer-samples-boot2/build.gradle
  samples/micrometer-samples-boot2/gradle.lockfile
  samples/micrometer-samples-spring-integration/build.gradle
  samples/micrometer-samples-spring-integration/gradle.lockfile
Labels: type: task
