Repository micrometer-metrics/micrometer, pull requests merged in 2023-07, with the labels that each got.

#3951 Upgrade to Gradle Wrapper 8.2
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: type: task, build

#3971 Deprecates observeWithContext and observeWithContextChecked
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
Labels: type: task, module: micrometer-observation

#3986 Removes the need to set OR on OTLA
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationView.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessor.java
  micrometer-observation/src/test/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessorTests.java
Labels: enhancement

#3972 Upgrade to Gradle Wrapper 8.2.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build

#3988 Polish "Align DeltaHistogram in SignalFx registry with count and total"
  micrometer-core/src/main/java/io/micrometer/core/instrument/step/StepDistributionSummary.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/step/StepTimer.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/step/PollingAwareMockStepClock.java
Labels: polish

#3992 Polish "Publish completed step values on close before scheduled publish (StepRegistry)"
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/step/StepMeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepMeterRegistryTest.java
Labels: polish

#3999 Polish MeterRegistryCompatibilityKit
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java
Labels: polish, module: micrometer-test
