Repository micrometer-metrics/micrometer, pull requests merged in 2023-11, with the labels that each got.

#4308 Update Revved up by Develocity badge
  README.md
Labels: type: task

#4307 Polish "Move Jakarta JMS instrumentation to micrometer-jakarta9"
  micrometer-core/build.gradle
Labels: type: task, build

#4306 Polish build.gradle
  build.gradle
Labels: polish, build

#4402 Sync ModifiedClassPathClassLoader from Spring Boot
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ModifiedClassPathClassLoader.java
Labels: type: task, module: micrometer-test

#4410 Upgrade to JMH Gradle plugin 0.7.2
  benchmarks/benchmarks-core/build.gradle
Labels: type: task, module: benchmarks
