Repository micrometer-metrics/micrometer, pull requests merged in 2023-01, with the labels that each got.

#3557 [Dynatrace] Log NaNs at DEBUG instead of WARNING
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
Labels: bug, registry: dynatrace

#3591 Remove broken link in StackdriverSample
  samples/micrometer-samples-boot2/src/main/java/io/micrometer/boot2/samples/StackdriverSample.java
Labels: type: task

#3593 Update samples to use Spring Boot 2.7.8
  samples/micrometer-samples-boot2-reactive/build.gradle
  samples/micrometer-samples-boot2-reactive/gradle.lockfile
  samples/micrometer-samples-boot2/build.gradle
  samples/micrometer-samples-boot2/gradle.lockfile
  samples/micrometer-samples-spring-integration/build.gradle
  samples/micrometer-samples-spring-integration/gradle.lockfile
Labels: dependency-upgrade

#3595 Update Elasticsearch Docker image versions to the latest in integration tests
  implementations/micrometer-registry-elastic/src/test/java/io/micrometer/elastic/AbstractElasticsearchMeterRegistryIntegrationTest.java
Labels: registry: elastic, dependency-upgrade

#3596 [Dynatrace registry v1] Use header instead of query parameter
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v1/DynatraceExporterV1.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v1/DynatraceExporterV1Test.java
Labels: type: task, registry: dynatrace

#3603 ObservationThreadLocalAccessor fixes
  build.gradle
  dependencies.gradle
  micrometer-core/gradle.lockfile
  micrometer-observation/gradle.lockfile
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessor.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationTests.java
  micrometer-observation/src/test/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessorTests.java
Labels: bug

#3604 Clean up compile warnings in micrometer-core
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jpa/HibernateMetricsNoSecondLevelCacheTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jpa/HibernateMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jpa/HibernateQueryMetricsTest.java
Labels: type: task, polish

#3607 Polish OtlpConfig.headers()
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpConfig.java
Labels: type: task, polish

#3608 Add tests for OtlpConfig.resourceAttributes()
  dependencies.gradle
  implementations/micrometer-registry-otlp/build.gradle
  implementations/micrometer-registry-otlp/gradle.lockfile
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpConfig.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpConfigTest.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpMeterRegistryTest.java
Labels: type: task, polish, registry: otlp

#3605 Add ARM64 epoll for linux
  implementations/micrometer-registry-statsd/build.gradle
Labels: registry: statsd, dependency-upgrade
