Repository micrometer-metrics/micrometer, pull requests merged in 2023-04, with the labels that each got.

#3733 Polish "Avoid concurrent publish calls from publishSafely"
  micrometer-core/src/main/java/io/micrometer/core/instrument/push/PushMeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/push/PushMeterRegistryTest.java
Labels: polish, module: micrometer-core

#3737 Polish "Do not rollover again after closingRollover"
  micrometer-core/src/main/java/io/micrometer/core/instrument/step/StepMeter.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/step/StepValue.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepValueTest.java
Labels: polish, module: micrometer-core

#3736 Fix config prefix in comment in AzureMonitorSample
  samples/micrometer-samples-boot2/src/main/java/io/micrometer/boot2/samples/AzureMonitorSample.java
Labels: polish

#3735 Add Javadoc since to AzureMonitorConfig.connectionString()
  implementations/micrometer-registry-azure-monitor/src/main/java/io/micrometer/azuremonitor/AzureMonitorConfig.java
Labels: polish, registry: azure monitor

#3722 Avoid using streams in observations
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/DefaultMeterObservationHandler.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationHandler.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationRegistry.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
Labels: performance, module: micrometer-observation

#3741 [Dynatrace v2] Switch to primitive types and ensure synchronization
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceDistributionSummary.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceSummary.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceTimer.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/types/DynatraceSummaryTest.java
Labels: bug, registry: dynatrace

#3731 Improves the ThreadLocalAccessor story of continuing scopes
  micrometer-observation/src/main/java/io/micrometer/observation/NoopObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationHandler.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationView.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessor.java
Labels: bug

#3748 Add Javadoc since for outcome key name enum values
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/ApacheHttpClientObservationDocumentation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ApacheHttpClientObservationDocumentation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpObservationDocumentation.java
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/HttpClientObservationDocumentation.java
Labels: polish

#3767 Polish "Improves the ThreadLocalAccessor story of continuing scopes"
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
Labels: polish, module: micrometer-observation

#3765 Upgrade to Gradle Wrapper 8.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: type: task, build

#3766 Reduces overall memory allocation in DynatraceExporterV2 while exporting
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
Labels: enhancement, registry: dynatrace, performance

#3768 Polish "Add metrics support for Netty 4.x"
  micrometer-core/build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/netty4/NettyAllocatorMetrics.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/netty4/NettyEventExecutorMetrics.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/netty4/NettyMeters.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/netty4/NettyAllocatorMetricsTests.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/netty4/NettyEventExecutorMetricsTests.java
Labels: polish, module: micrometer-binders

#3769 Polish MeterTag changes
  micrometer-commons/src/main/java/io/micrometer/common/annotation/AnnotationHandler.java
  micrometer-commons/src/main/java/io/micrometer/common/annotation/AnnotationUtils.java
  micrometer-commons/src/main/java/io/micrometer/common/annotation/NoOpValueResolver.java
  micrometer-commons/src/main/java/io/micrometer/common/annotation/ValueExpressionResolver.java
  micrometer-commons/src/main/java/io/micrometer/common/annotation/ValueResolver.java
  micrometer-commons/src/main/java/io/micrometer/common/annotation/package-info.java
  micrometer-core/src/main/java/io/micrometer/core/aop/MeterTag.java
  micrometer-core/src/main/java/io/micrometer/core/aop/MeterTagAnnotationHandler.java
  micrometer-core/src/main/java/io/micrometer/core/aop/TimedAspect.java
  micrometer-core/src/test/java/io/micrometer/core/aop/MeterTagAnnotationHandlerTests.java
  micrometer-core/src/test/java/io/micrometer/core/aop/NullMetricTagAnnotationHandlerTests.java
  micrometer-core/src/test/java/io/micrometer/core/aop/SpelValueExpressionResolver.java
  micrometer-core/src/test/java/io/micrometer/core/aop/TimedAspectTest.java
Labels: type: task

#3780 Avoid needing compiler parameter metadata in CountedAspect
  micrometer-core/src/main/java/io/micrometer/core/aop/CountedAspect.java
Labels: enhancement, module: micrometer-core

#3784 Upgrade to Gradle Wrapper 8.1.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build
