Repository micrometer-metrics/micrometer, pull requests merged in 2023-02, with the labels that each got.

#3622 Polish "Support Apache HttpClient 5"
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/ApacheHttpClientContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/ApacheHttpClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/ApacheHttpClientObservationDocumentation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/DefaultApacheHttpClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/DefaultUriMapper.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/MicrometerHttpClientInterceptor.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/MicrometerHttpRequestExecutor.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/PoolingHttpClientConnectionManagerMetricsBinder.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ApacheHttpClientContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ApacheHttpClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ApacheHttpClientObservationDocumentation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/DefaultApacheHttpClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/DefaultUriMapper.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/HttpContextUtils.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/MicrometerHttpClientInterceptor.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/MicrometerHttpRequestExecutor.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/MicrometerHttpClientInterceptorTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/MicrometerHttpRequestExecutorTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/PoolingHttpClientConnectionManagerMetricsBinderTest.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/ApacheHttpClient5TimingInstrumentationVerificationTests.java
Labels: polish, module: micrometer-core

#3615 [Dynatrace v2] Ensure synchronization when taking snapshots
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceDistributionSummary.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceSummary.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceSummarySnapshotSupport.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceTimer.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/types/DynatraceDistributionSummaryTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/types/DynatraceTimerTest.java
Labels: bug, registry: dynatrace

#3624 Polish "Fixing Scope setting and resetting via ObservationThreadLocalAccessor"
  micrometer-core/src/test/kotlin/io/micrometer/core/instrument/kotlin/AsContextElementKtTests.kt
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/ObservationHandler.java
  micrometer-observation/src/main/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessor.java
Labels: polish

#3626 [Dynatrace v2] Add missing tests to Dynatrace types
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/types/DynatraceDistributionSummaryTest.java
Labels: polish, registry: dynatrace

#3631 Polish 'Add "Observation.observeWithContext(Function)" method'
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationTests.java
Labels: polish, module: micrometer-observation

#3630 Fix deprecation warnings from Spotless
  build.gradle
  buildscript-gradle.lockfile
Labels: type: task, build

#3629 Polish
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceSummarySnapshotSupport.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/types/DynatraceDistributionSummaryTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/types/DynatraceTimerTest.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v1/DynatraceExporterV1Test.java
  micrometer-core/build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/MicrometerHttpRequestExecutor.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/composite/CompositeMeterRegistryTest.java
Labels: polish, registry: dynatrace

#3562 Add metrics for the total number of application threads started in the JVM
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmThreadMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jvm/JvmThreadMetricsTest.java
Labels: enhancement, module: micrometer-binders

#3652 Update JavaDoc in RequiredSearch
  micrometer-core/src/main/java/io/micrometer/core/instrument/search/RequiredSearch.java
Labels: doc-update, polish

#3655 Upgrade to Gradle Wrapper 8.0.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: build, dependency-upgrade

#3651 Optimize getting ThreadMetrics where getThreadInfo is repeatedly called
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmThreadMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jvm/JvmThreadMetricsTest.java
Labels: enhancement, performance, module: micrometer-core

#3659 Polish "Jetty Client instrumentation with Observation API"
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/DefaultJettyClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyClientContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyClientKeyValues.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyClientMetrics.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyClientTagsProvider.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jetty/JettyClientMetricsWithObservationTest.java
Labels: polish, module: micrometer-core

#3657 Remove explicit gradle-info-plugin dependency
  build.gradle
  buildscript-gradle.lockfile
Labels: type: task, build

#3666 Depend on Spring Java Format's new stream formatting where possible
  benchmarks/benchmarks-core/src/jmh/java/io/micrometer/benchmark/core/CounterBenchmark.java
  benchmarks/benchmarks-core/src/jmh/java/io/micrometer/benchmark/core/MeterRegistrationBenchmark.java
  benchmarks/benchmarks-core/src/jmh/java/io/micrometer/benchmark/core/TimerBenchmark.java
  implementations/micrometer-registry-appoptics/src/main/java/io/micrometer/appoptics/AppOpticsMeterRegistry.java
  implementations/micrometer-registry-azure-monitor/src/main/java/io/micrometer/azuremonitor/AzureMonitorMeterRegistry.java
  implementations/micrometer-registry-cloudwatch/src/main/java/io/micrometer/cloudwatch/CloudWatchMeterRegistry.java
  implementations/micrometer-registry-cloudwatch2/src/main/java/io/micrometer/cloudwatch2/CloudWatchMeterRegistry.java
  implementations/micrometer-registry-humio/src/main/java/io/micrometer/humio/HumioMeterRegistry.java
  implementations/micrometer-registry-influx/src/main/java/io/micrometer/influx/InfluxMeterRegistry.java
  implementations/micrometer-registry-kairos/src/main/java/io/micrometer/kairos/KairosMeterRegistry.java
  implementations/micrometer-registry-new-relic/src/main/java/io/micrometer/newrelic/NewRelicInsightsApiClientProvider.java
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalFxMeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/AbstractMetricCollectingInterceptor.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/search/RequiredSearch.java
Labels: type: task

#3668 Add basic integration test for OtlpMeterRegistry and the OTel collector
  dependencies.gradle
  implementations/micrometer-registry-otlp/build.gradle
  implementations/micrometer-registry-otlp/gradle.lockfile
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OTelCollectorIntegrationTest.java
  implementations/micrometer-registry-otlp/src/test/resources/collector-config.yml
Labels: registry: otlp
