Repository micrometer-metrics/micrometer, pull requests merged in 2023-05, with the labels that each got.

#3793 Improve StepBucketHistogram
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpDeltaMeterRegistryTest.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/distribution/FixedBoundaryHistogram.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/distribution/StepBucketHistogram.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/distribution/TimeWindowFixedBoundaryHistogram.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/step/StepValue.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/distribution/StepHistogramTest.java
Labels: type: task, registry: otlp

#3794 Avoid global publishing alignment in OTLP registry
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpDeltaMeterRegistryTest.java
Labels: enhancement, registry: otlp

#3834 Polish SimpleObservation.openScope()
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
Labels: polish, module: micrometer-observation

#3853 Polish "Merged MicrometerHttpClientInterceptor has no outcome Tag"
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/MicrometerHttpClientInterceptorTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/MicrometerHttpClientInterceptorTest.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/ApacheAsyncHttpClient5TimingInstrumentationVerificationTests.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/ApacheAsyncHttpClientTimingInstrumentationVerificationTests.java
Labels: polish

#3860 Polish gh-3625
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpConfig.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpStepDistributionSummary.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpStepTimer.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpConfigTest.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpCumulativeMeterRegistryTest.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpDeltaMeterRegistryTest.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpMeterRegistryTest.java
Labels: polish, registry: otlp

#3831 Introduces NullObservation
  build.gradle
  dependencies.gradle
  micrometer-core/gradle.lockfile
  micrometer-observation/gradle.lockfile
  micrometer-observation/src/main/java/io/micrometer/observation/NullObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/main/java/io/micrometer/observation/SimpleObservation.java
  micrometer-observation/src/main/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessor.java
  micrometer-observation/src/test/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessorTests.java
Labels: bug

#3871 Polish "Start publish at randomized time in next step"
  micrometer-core/src/test/java/io/micrometer/core/instrument/push/PushMeterRegistryTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepMeterRegistryTest.java
Labels: polish
