Repository micrometer-metrics/micrometer, pull requests merged in 2023-03, with the labels that each got.

#3672 Upgrade to Gradle Wrapper 8.0.2
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build

#3673 Upgrade machine executor to ubuntu-2204:2023.02.1
  .circleci/config.yml
Labels: type: task, build

#3679 Adds hasAnObservation assertion that allows doing arbitrary assertions + clear method
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistry.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistryAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/TestObservationRegistryAssertTests.java
Labels: enhancement, module: micrometer-observation-test

#3671 Support "_index_template" for Elasticsearch 7.8+
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/DefaultIndexTemplateCreator.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/IndexTemplateCreator.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/LegacyIndexTemplateCreator.java
  implementations/micrometer-registry-elastic/src/test/java/io/micrometer/elastic/AbstractElasticsearchMeterRegistryIntegrationTest.java
Labels: enhancement, registry: elastic

#3695 Polish gh-3679
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistry.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistryAssert.java
Labels: polish, module: micrometer-observation-test

#3670 Add GC name to gc pause metric
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmGcMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jvm/JvmGcMetricsTest.java
Labels: enhancement, module: micrometer-core

#3699 Polish 'Support "_index_template" for Elasticsearch 7.8+'
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/DefaultIndexTemplateCreator.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/IndexTemplateCreator.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/LegacyIndexTemplateCreator.java
Labels: polish, registry: elastic

#3702 Add Bnd-LastModified attribute to runtime normalization ignore list
  build.gradle
Labels: type: task, build

#3701 Polish "Add BND plugin and OSGi export core package"
  micrometer-osgi-test/src/test/java/io/micrometer/osgi/test/OsgiTest.java
  micrometer-osgi-test/test.bndrun
Labels: polish

#3704 Polish "Manual rollover of step meters for publishing partial step"
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepFunctionTimerTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepMeterRegistryTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepTimerTest.java
Labels: polish

#3708 Add supplier variant for Observation.Context.getOrDefault()
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationContextTest.java
Labels: enhancement

#3685 Allow custom sink for LoggingMeterRegistry
  micrometer-core/src/main/java/io/micrometer/core/instrument/logging/LoggingMeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/logging/LoggingMeterRegistryTest.java
Labels: enhancement, module: micrometer-core

#3716 Add Javadoc since to new constructors in LoggingMeterRegistry
  micrometer-core/src/main/java/io/micrometer/core/instrument/logging/LoggingMeterRegistry.java
Labels: polish

#3725 Fully sync Spring Boot classpath test support
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ClassPathExclusions.java
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ClassPathOverrides.java
  micrometer-core/src/test/java/io/micrometer/core/testsupport/classpath/ForkedClassPath.java
Labels: type: task
