Repository micrometer-metrics/micrometer, pull requests merged in 2023-10, with the labels that each got.

#4103 Use AssertJ assertions consistently
  config/checkstyle/checkstyle.xml
  implementations/micrometer-registry-graphite/src/test/java/io/micrometer/graphite/GraphiteMeterRegistryTest.java
  implementations/micrometer-registry-influx/src/test/java/io/micrometer/influx/CreateDatabaseQueryBuilderTest.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheus/PrometheusMeterRegistryTest.java
  implementations/micrometer-registry-stackdriver/src/test/java/io/micrometer/stackdriver/MetricSchemaCompatibilityTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/MicrometerHttpRequestExecutorTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jetty/JettyClientMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jetty/JettyConnectionMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jetty/TimedHandlerTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpConnectionPoolMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/util/StringUtilsTest.java
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java
Labels: type: task

#4095 Convert to version catalog TOML file
  benchmarks/benchmarks-core/build.gradle
  benchmarks/benchmarks-core/gradle.lockfile
  build.gradle
  buildscript-gradle.lockfile
  dependencies.gradle
  gradle/libs.versions.toml
  implementations/micrometer-registry-appoptics/gradle.lockfile
  implementations/micrometer-registry-atlas/gradle.lockfile
  implementations/micrometer-registry-azure-monitor/gradle.lockfile
  implementations/micrometer-registry-cloudwatch/gradle.lockfile
  implementations/micrometer-registry-cloudwatch2/gradle.lockfile
  implementations/micrometer-registry-datadog/gradle.lockfile
  implementations/micrometer-registry-dynatrace/gradle.lockfile
  implementations/micrometer-registry-elastic/build.gradle
  implementations/micrometer-registry-elastic/gradle.lockfile
  implementations/micrometer-registry-ganglia/gradle.lockfile
  implementations/micrometer-registry-graphite/gradle.lockfile
  implementations/micrometer-registry-health/gradle.lockfile
  implementations/micrometer-registry-humio/gradle.lockfile
  implementations/micrometer-registry-influx/gradle.lockfile
  implementations/micrometer-registry-jmx/gradle.lockfile
  implementations/micrometer-registry-kairos/gradle.lockfile
  implementations/micrometer-registry-new-relic/gradle.lockfile
  implementations/micrometer-registry-opentsdb/gradle.lockfile
  implementations/micrometer-registry-otlp/build.gradle
  implementations/micrometer-registry-otlp/gradle.lockfile
  implementations/micrometer-registry-prometheus/gradle.lockfile
  implementations/micrometer-registry-signalfx/gradle.lockfile
  implementations/micrometer-registry-stackdriver/gradle.lockfile
  implementations/micrometer-registry-statsd/build.gradle
  implementations/micrometer-registry-statsd/gradle.lockfile
  implementations/micrometer-registry-wavefront/gradle.lockfile
  micrometer-bom/gradle.lockfile
  micrometer-core/build.gradle
  micrometer-core/gradle.lockfile
  micrometer-test/build.gradle
  micrometer-test/gradle.lockfile
  samples/micrometer-samples-boot2-reactive/gradle.lockfile
  samples/micrometer-samples-boot2/build.gradle
  samples/micrometer-samples-boot2/gradle.lockfile
  samples/micrometer-samples-core/build.gradle
  samples/micrometer-samples-core/gradle.lockfile
  samples/micrometer-samples-hazelcast/gradle.lockfile
  samples/micrometer-samples-hazelcast3/build.gradle
  samples/micrometer-samples-hazelcast3/gradle.lockfile
  samples/micrometer-samples-javalin/build.gradle
  samples/micrometer-samples-javalin/gradle.lockfile
  samples/micrometer-samples-jersey3/build.gradle
  samples/micrometer-samples-jersey3/gradle.lockfile
  samples/micrometer-samples-spring-integration/gradle.lockfile
Labels: type: task, build

#4102 Support API Token Type from the Wavefront SDK
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontConfig.java
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontMeterRegistry.java
  implementations/micrometer-registry-wavefront/src/test/java/io/micrometer/wavefront/WavefrontConfigTest.java
Labels: enhancement, spring-boot change, registry: wavefront

#4195 Polish gh-4064
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: polish, registry: dynatrace

#4194 Add Javadoc since for WavefrontConfig.apiTokenType()
  implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontConfig.java
Labels: polish, registry: wavefront

#4201 Move Jakarta JMS instrumentation to micrometer-jakarta10
  build.gradle
  micrometer-jakarta10/build.gradle
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/DefaultJmsProcessObservationConvention.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/DefaultJmsPublishObservationConvention.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/JmsInstrumentation.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/JmsObservationDocumentation.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/JmsProcessObservationContext.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/JmsProcessObservationConvention.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/JmsPublishObservationContext.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/JmsPublishObservationConvention.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/MessageConsumerInvocationHandler.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/MessageProducerInvocationHandler.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/SessionInvocationHandler.java
  micrometer-jakarta10/src/main/java/io/micrometer/jakarta10/instrument/jms/package-info.java
  micrometer-jakarta10/src/test/java/io/micrometer/jakarta10/NoJavaxArchitectureTests.java
  micrometer-jakarta10/src/test/java/io/micrometer/jakarta10/instrument/jms/DefaultJmsProcessObservationConventionTests.java
  micrometer-jakarta10/src/test/java/io/micrometer/jakarta10/instrument/jms/DefaultJmsPublishObservationConventionTests.java
  micrometer-test/build.gradle
  micrometer-test/src/test/java/io/micrometer/core/instrument/binder/jms/JmsInstrumentationTests.java
  settings.gradle
Labels: enhancement

#4262 Remove obsolete dependency locking configuration
  docs/build.gradle
Labels: build

#4271 Add WARN message when OtlpMeterRegistry fails to publish metrics
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
Labels: bug
