Repository micrometer-metrics/micrometer, pull requests merged in 2024-03, with the labels that each got.

#3811 Ignore class level AOP annotation if method level present
  micrometer-core/src/main/java/io/micrometer/core/aop/CountedAspect.java
  micrometer-core/src/main/java/io/micrometer/core/aop/TimedAspect.java
  micrometer-core/src/test/java/io/micrometer/core/aop/CountedAspectTest.java
  micrometer-core/src/test/java/io/micrometer/core/aop/TimedAspectTest.java
  micrometer-observation/src/main/java/io/micrometer/observation/aop/ObservedAspect.java
  micrometer-observation/src/test/java/io/micrometer/observation/aop/ObservedAspectTests.java
Labels: enhancement, module: micrometer-core, module: micrometer-observation

#4783 Polish
  samples/micrometer-samples-kotlin/build.gradle
  samples/micrometer-samples-kotlin/src/test/kotlin/io/micrometer/samples/kotlin/KotlinCoroutinesTests.kt
  samples/micrometer-samples-kotlin/src/test/kotlin/io/micrometer/samples/kotlin/OkHttpClientTimingInstrumentationVerificationTests.kt
Labels: polish

#4829 "Failed to publish metrics to OTLP receiver" error message contains no actionable context
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
Labels: enhancement, registry: otlp

#4848 Allow customizing start log message in PushMeterRegistry implementations
  micrometer-core/src/main/java/io/micrometer/core/instrument/push/PushMeterRegistry.java
Labels: enhancement, module: micrometer-core

#4830 Announce OtlpMeterRegistry configuration found at startup
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
Labels: enhancement, registry: otlp

#4863 Polish gh-4583
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/WarnThenDebugLoggers.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: polish, registry: dynatrace

#4865 Add constructor with logger name for WarnThenDebugLogger
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/WarnThenDebugLogger.java
Labels: enhancement, module: micrometer-common

#4871 Add note for Datadog API rate limit problem in its doc
  docs/modules/ROOT/pages/implementations/datadog.adoc
Labels: doc-update, registry: datadog

#4870 Sort "External Project Instrumentations" table alphabetically
  docs/modules/ROOT/pages/observation/projects.adoc
Labels: doc-update

#4869 Upgrade to Kotlin 1.9.23
  gradle/libs.versions.toml
Labels: type: task

#4867 Add Exemplars support to Prometheus 1.x
  gradle/libs.versions.toml
  implementations/micrometer-registry-prometheus/build.gradle
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/DefaultExemplarSamplerFactory.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/ExemplarSamplerFactory.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusCounter.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusDistributionSummary.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusHistogram.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistry.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusTimer.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistryTest.java
  implementations/micrometer-registry-prometheus/src/test/resources/prometheus.properties
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/PrometheusExemplarsSample.java
Labels: enhancement, registry: prometheus
