Repository micrometer-metrics/micrometer, pull requests merged in 2024-07, with the labels that each got.

#5236 Expose ForkJoinPool parallelism and pool size metrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetricsTest.java
Labels: enhancement, module: micrometer-core, instrumentation

#5288 Avoid calling naming convention on scrape
  implementations/micrometer-registry-prometheus-simpleclient/src/test/java/io/micrometer/prometheus/PrometheusMeterRegistryTest.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistry.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistryTest.java
Labels: bug, registry: prometheus, performance

#5057 Add counter of failed attempts to retrieve a connection from the pool
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsConnectionPoolListener.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsConnectionPoolListenerTest.java
Labels: enhancement, module: micrometer-core, instrumentation

#5222 Add JvmThreadDeadlockMetrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmThreadDeadlockMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jvm/JvmThreadDeadlockMetricsTest.java
Labels: enhancement, module: micrometer-core, instrumentation

#5306 [dynatrace/v2] reduce log verbosity
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/WarnThenDebugLoggers.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: enhancement, registry: dynatrace

#5307 Throw exception in case of invalid Observations with TestObservationRegistry
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/InvalidObservationException.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationValidator.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationValidatorTests.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/TestObservationRegistryAssertTests.java
Labels: enhancement

#5316 Add default factoryType tag in CommonsObjectPool2Metrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/commonspool2/CommonsObjectPool2Metrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/commonspool2/CommonsObjectPool2MetricsTest.java
Labels: bug
