Repository micrometer-metrics/micrometer, pull requests merged in 2024-10, with the labels that each got.

#5497 Update JMS reference
  docs/modules/ROOT/pages/observation/projects.adoc
Labels: doc-update

#5498 Run concurrency tests as part of CI build
  .circleci/config.yml
  concurrency-tests/build.gradle
Labels: type: task, build

#5551 Expose TestObservationRegistry as an AssertJ AssertProvider
  docs/src/test/java/io/micrometer/docs/observation/ObservationHandlerTests.java
  docs/src/test/java/io/micrometer/docs/observation/ObservationTestingTests.java
  docs/src/test/java/io/micrometer/docs/observation/messaging/ObservationMessagingIntegrationTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/grpc/GrpcObservationTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/MicrometerHttpRequestExecutorTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/MicrometerHttpRequestExecutorTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ObservationExecChainHandlerIntegrationTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ObservationExecChainHandlerTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/observation/ObservationOrTimerCompatibleInstrumentationTest.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistry.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/TestObservationRegistryAssertTests.java
  micrometer-observation/src/test/java/io/micrometer/observation/aop/ObservedAspectTests.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/HttpServerTimingInstrumentationVerificationTests.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/InstrumentationTimingVerificationTests.java
  micrometer-test/src/test/java/io/micrometer/core/instrument/binder/jms/JmsInstrumentationTests.java
Labels: enhancement, module: micrometer-observation-test

#5550 Use failure with actual and expected message to improve IDE experience for ObservationContextAssert
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationContextAssert.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationContextAssertTests.java
Labels: enhancement, module: micrometer-observation-test

#5228 Warn about Prometheus meter registration failure
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistry.java
Labels: enhancement, registry: prometheus

#4028 Allow specifying the meterNameConsumer for HighCardinalityTagsDetector
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/HighCardinalityTagsDetectorTests.java
Labels: enhancement, module: micrometer-core

#5594 Improve UCUM time unit mapping for Dynatrace
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: type: task, registry: dynatrace

#5595 Add benchmarks for DefaultLTT start/stop
  benchmarks/benchmarks-core/src/jmh/java/io/micrometer/benchmark/core/DefaultLongTaskTimerBenchmark.java
Labels: type: task, performance, module: benchmarks

#5598 Polish gh-5370
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationValidator.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationValidatorTests.java
Labels: type: task, polish

#5611 Add docs for ForkJoinPool parallelism and pool size metrics
  docs/modules/ROOT/pages/reference/jvm.adoc
Labels: doc-update

#5612 Enable japicmp task for micrometer-registry-statsd
  implementations/micrometer-registry-statsd/build.gradle
Labels: type: task, build

#5610 Add docs for VirtualThreadMetrics
  docs/modules/ROOT/pages/reference/jvm.adoc
Labels: doc-update

#5614 Add docs for JvmThreadDeadlockMetrics
  docs/modules/ROOT/pages/reference/jvm.adoc
Labels: doc-update

#5613 Add documentation for @Counted
  docs/modules/ROOT/pages/concepts/counters.adoc
Labels: doc-update
