Repository micrometer-metrics/micrometer, pull requests merged in 2024-04, with the labels that each got.

#4918 Upgrade CI machine image to ubuntu-2204:2024.01.2
  .circleci/config.yml
Labels: type: task, build

#4917 Warn when a MeterFilter is configured after a meter is registered
  config/checkstyle/checkstyle-suppressions.xml
  gradle/libs.versions.toml
  micrometer-core/build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/MeterRegistryLoggingTest.java
Labels: enhancement, module: micrometer-core

#4951 [Dynatrace] debug log in exporter when no meters are registered
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
Labels: enhancement, registry: dynatrace

#4514 Record Jetty bytes in/out metrics through network listeners
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyConnectionMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jetty/JettyConnectionMetricsTest.java
Labels: enhancement, module: micrometer-core, instrumentation

#4961 Polish reference docs
  docs/modules/ROOT/pages/concepts/distribution-summaries.adoc
  docs/modules/ROOT/pages/concepts/timers.adoc
  docs/modules/ROOT/pages/observation/components.adoc
  docs/modules/ROOT/pages/observation/instrumenting.adoc
  docs/modules/ROOT/pages/observation/introduction.adoc
  docs/modules/ROOT/pages/reference/cache.adoc
  docs/modules/ROOT/pages/reference/db.adoc
  docs/modules/ROOT/pages/reference/httpcomponents.adoc
  docs/modules/ROOT/pages/reference/logging.adoc
  docs/modules/ROOT/pages/reference/mongodb.adoc
Labels: doc-update, polish

#4972 Polish gh-4003
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyServerThreadPoolMetrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jetty/InstrumentedQueuedThreadPoolTest.java
Labels: polish
