Repository micrometer-metrics/micrometer, pull requests merged in 2024-08, with the labels that each got.

#5368 Polish gh-4857
  concurrency-tests/build.gradle
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/MeterRegistryTest.java
Labels: polish, module: micrometer-core

#5365 Make more explicit that recording a metric is safe to call
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/concepts/meters.adoc
  docs/modules/ROOT/pages/concepts/registry.adoc
Labels: doc-update

#5370 Add history-tracking to ObservationValidator
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/InvalidObservationException.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationValidator.java
Labels: enhancement, module: micrometer-observation-test

#5399 Fix a typo in meters.adoc
  docs/modules/ROOT/pages/concepts/meters.adoc
Labels: doc-update

#5405 Fix GuavaCacheMetricsTest and CaffeineCacheMetricsTest
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/cache/CaffeineCacheMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/cache/GuavaCacheMetricsTest.java
Labels: type: task, module: micrometer-core

#5402 Log a warning when instrumenting a cache that is not recording stats in CaffeineCacheMetrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/cache/CaffeineCacheMetrics.java
Labels: enhancement, module: micrometer-core, instrumentation

#5407 Include the observation name in validator message
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/ObservationValidator.java
  micrometer-observation-test/src/test/java/io/micrometer/observation/tck/ObservationValidatorTests.java
Labels: enhancement, module: micrometer-observation-test
