Repository micrometer-metrics/micrometer, pull requests merged in 2024-01, with the labels that each got.

#4516 Add response headers and trailers to gRPC observation context
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/GrpcClientObservationContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/GrpcServerObservationContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/ObservationGrpcClientCallListener.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/ObservationGrpcServerCall.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/grpc/GrpcObservationTest.java
Labels: enhancement

#4500 Additional support for OTLP env vars
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpConfig.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpConfigTest.java
Labels: enhancement, registry: otlp

#4565 Update dynatrace-metric-utils-java to 2.1.0
  gradle/libs.versions.toml
Labels: registry: dynatrace, dependency-upgrade

#4503 Don't overwrite reserved resource attributes
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpMeterRegistryTest.java
Labels: enhancement, registry: otlp

#4570 Added examples of Apache Commons Pool
  docs/antora.yml
  docs/modules/ROOT/examples/core-test
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/commons-pool.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/commonspool2/CommonsObjectPool2MetricsTest.java
Labels: doc-update

#4579 HttpClient reference documentation
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/httpcomponents.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ObservationExecChainHandlerIntegrationTest.java
Labels: doc-update

#4575 gRPC reference documentation
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/grpc.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/grpc/GrpcObservationTest.java
Labels: doc-update

#4298 Add `database` tag to `DefaultMongoCommandTagsProvider`
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/mongodb/DefaultMongoCommandTagsProvider.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/DefaultMongoCommandTagsProviderTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsCommandListenerTest.java
Labels: enhancement, module: micrometer-core

#4506 @MeterTag does not work on package private method
  micrometer-commons/src/main/java/io/micrometer/common/annotation/AnnotationHandler.java
  micrometer-core/src/test/java/io/micrometer/core/aop/TimedAspectTest.java
Labels: bug

#4580 Downgrade okhttp to non-alpha 4.12.0
  gradle/libs.versions.toml
Labels: module: micrometer-core, dependency-upgrade

#4574 Database reference documentation
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/db.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/db/DatabaseTableMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/db/MetricsDSLContextTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/db/PostgreSQLDatabaseMetricsIntegrationTest.java
Labels: doc-update

#4584 Added Jetty reference doc
  docs/antora.yml
  docs/modules/ROOT/examples/micrometer-test
  docs/modules/ROOT/pages/reference/jetty.adoc
  micrometer-test/src/test/java/io/micrometer/core/instrument/JerseyServerTimingInstrumentationVerificationTests.java
Labels: doc-update

#4594 Reference doc update for mongodb
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/mongodb.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsCommandListenerTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsConnectionPoolListenerTest.java
Labels: doc-update

#4593 Reference doc update for logging
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/logging.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/logging/Log4j2MetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/logging/LogbackMetricsTest.java
Labels: doc-update

#4592 Reference doc update for Kafka
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/kafka.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/kafka/KafkaClientMetricsIntegrationTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/kafka/KafkaStreamsMetricsTest.java
Labels: doc-update

#4586 Reference doc update for OkHttp
  docs/modules/ROOT/pages/reference/okhttpclient.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpObservationInterceptorTest.java
Labels: doc-update

#4599 Reference doc update for tomcat
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/tomcat.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/tomcat/TomcatMetricsTest.java
Labels: doc-update

#4598 Reference doc update for system
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reference/system.adoc
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/system/DiskSpaceMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/system/FileDescriptorMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/system/ProcessorMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/system/UptimeMetricsTest.java
Labels: doc-update

#4603 Enable whenConnectionCheckedInAfterPoolClose_thenNoExceptionThrown()
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsConnectionPoolListenerTest.java
Labels: type: task

#4600 Polish
  micrometer-core/src/main/java/io/micrometer/core/instrument/dropwizard/DropwizardMeterRegistry.java
Labels: type: task

#4597 Downgrade okhttp to 4.11.0 upgrade Kotlin to 1.9
  build.gradle
  gradle/libs.versions.toml
  micrometer-core/build.gradle
  micrometer-jetty11/build.gradle
  micrometer-test/build.gradle
  samples/micrometer-samples-javalin/build.gradle
  samples/micrometer-samples-kotlin/build.gradle
Labels: type: task, dependency-upgrade

#4612 Update gRPC trailers metadata consumption by observation context
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/ObservationGrpcServerCall.java
Labels: type: task

#4618 Add sample for MultiGauge
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/MultiGaugeSample.java
Labels: type: task

#4608 feat: Unify micrometer collector name
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/MicrometerCollector.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusMeterRegistry.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheus/PrometheusMeterRegistryCustomizeTest.java
Labels: enhancement

#4627 Polish
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/logging/Log4j2Metrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/http/HttpJakartaServletRequestTagsTest.java
  micrometer-jakarta9/src/main/java/io/micrometer/jakarta9/instrument/jms/DefaultJmsPublishObservationConvention.java
  micrometer-jakarta9/src/test/java/io/micrometer/jakarta9/instrument/jms/DefaultJmsPublishObservationConventionTests.java
Labels: polish

#4595 URL decode headers from environment variables in OtlpConfig
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpConfig.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpConfigTest.java
Labels: bug, registry: otlp

#4583 [Dynatrace] Logging verbosity: Move metadata discrepancy logging to WarnThenDebug
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/DynatraceExporterV2.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/v2/WarnThenDebugLoggers.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v2/DynatraceExporterV2Test.java
Labels: bug, registry: dynatrace
