Repository micrometer-metrics/micrometer, pull requests merged in 2024-06, with the labels that each got.

#5143 Update japicmp compatibleVersion to 1.12.0 for 1.13.x
  build.gradle
  gradle.properties
Labels: type: task, build

#5197 Fix wrong reference in the deprecation javadoc
  micrometer-core/src/main/java/io/micrometer/core/lang/NonNullFields.java
  micrometer-core/src/main/java/io/micrometer/core/lang/Nullable.java
Labels: doc-update

#5224 Polish gh-4867
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/DefaultExemplarSamplerFactory.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/ExemplarSamplerFactory.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistryTest.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/PrometheusExemplarsSample.java
Labels: type: task

#5153 Allow custom ThreadFactory for OtlpMeterRegistry
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
Labels: enhancement, registry: otlp

#5146 Polish gh-4846
  implementations/micrometer-registry-prometheus/build.gradle
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/MicrometerCollector.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusConfig.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusCounter.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusDistributionSummary.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusDurationNamingConvention.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistry.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusNamingConvention.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusRenameFilter.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusTimer.java
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistryTest.java
Labels: type: task, polish, registry: prometheus

#5142 Add Javadoc since for PushMeterRegistry.startMessage()
  micrometer-core/src/main/java/io/micrometer/core/instrument/push/PushMeterRegistry.java
Labels: doc-update

#5141 Fix log to include stack trace in OtlpMeterRegistry.publish()
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
Labels: bug, registry: otlp

#5149 Do not register GC metrics when GC notifications are unavailable
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmGcMetrics.java
Labels: enhancement, module: micrometer-core, theme: native-image

#5107 Polish gh-4780
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceLongTaskTimer.java
  implementations/micrometer-registry-dynatrace/src/main/java/io/micrometer/dynatrace/types/DynatraceSummarySnapshot.java
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/types/DynatraceLongTaskTimerTest.java
Labels: type: task, polish

#5114 Apply NamingConvention to tags for OtlpMeterRegistry
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpMeterRegistryTest.java
Labels: bug, registry: otlp

#5227 Add Javadoc since for PrometheusConfig.prometheusProperties()
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/PrometheusConfig.java
Labels: doc-update

#5139 Update prometheus.adoc
  docs/modules/ROOT/pages/implementations/prometheus.adoc
Labels: doc-update

#5226 Upgrade CI machine image to ubuntu-2204:2024.05.1
  .circleci/config.yml
Labels: type: task, build
