Repository micrometer-metrics/micrometer, pull requests merged in 2024-05, with the labels that each got.

#5039 Add integration tests for Prometheus
  implementations/micrometer-registry-prometheus/build.gradle
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistryIntegrationTest.java
  implementations/micrometer-registry-prometheus/src/test/resources/prometheus.yml
Labels: type: task, registry: prometheus

#5056 Polish Javadoc for gh-4755
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/DefaultMeterObservationHandler.java
Labels: polish

#4989 Remove space at beginning of line in doc
  docs/modules/ROOT/pages/concepts.adoc
Labels: polish

#5113 Polish gh-4564
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMetricConverter.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpMeterRegistryTest.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpMetricConverterTest.java
Labels: polish, registry: otlp
