Repository micrometer-metrics/micrometer, pull requests merged in 2024-12, with the labels that each got.

#5732 Polish gh-5602
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/jvm/JvmGcMetricsTest.java
Labels: polish

#5733 Deprecate AggregationTemporality#toOtlpAggregationTemporality
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/AggregationTemporality.java
Labels: bug, registry: otlp

#5699 Do not leak OTLP types on public-facing API
  build.gradle
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/AggregationTemporality.java
Labels: bug, release notes, breaking-change, registry: otlp

#5738 Polish gh-5605
  docs/src/test/java/io/micrometer/docs/observation/ObservationTestingTests.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistry.java
  micrometer-observation-test/src/main/java/io/micrometer/observation/tck/TestObservationRegistryAssert.java
Labels: polish

#5739 Protect against concurrent reads/writes to Context keyvalues
  benchmarks/benchmarks-core/src/jmh/java/io/micrometer/benchmark/core/ObservationKeyValuesBenchmark.java
  concurrency-tests/build.gradle
  concurrency-tests/src/jcstress/java/io/micrometer/concurrencytests/MeterRegistryConcurrencyTest.java
  concurrency-tests/src/jcstress/java/io/micrometer/concurrencytests/ObservationContextConcurrencyTest.java
  concurrency-tests/src/jcstress/java/io/micrometer/concurrencytests/PrometheusMeterRegistryConcurrencyTest.java
  micrometer-observation/src/main/java/io/micrometer/observation/Observation.java
Labels: bug, module: micrometer-observation

#5737 Document no support for meta-annotations with @Timed/@Counted
  docs/modules/ROOT/pages/concepts/counters.adoc
  docs/modules/ROOT/pages/concepts/timers.adoc
Labels: doc-update

#5744 Omit EnumSource.value where possible
  docs/src/test/java/io/micrometer/docs/metrics/TimedAspectTest.java
  implementations/micrometer-registry-statsd/src/test/java/io/micrometer/statsd/StatsdMeterRegistryPublishTest.java
  implementations/micrometer-registry-statsd/src/test/java/io/micrometer/statsd/StatsdMeterRegistryTest.java
  micrometer-core/src/test/java/io/micrometer/core/aop/TimedAspectTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/cache/CaffeineStatsCounterTest.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/HttpClientTimingInstrumentationVerificationTests.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/HttpServerTimingInstrumentationVerificationTests.java
  micrometer-test/src/main/java/io/micrometer/core/ipc/http/HttpSenderCompatibilityKit.java
Labels: polish

#5751 Improve docs for same name with different tags
  docs/modules/ROOT/pages/implementations/prometheus.adoc
Labels: doc-update, registry: prometheus

#5753 Upgrade to Gradle Wrapper 8.12
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: type: task, build
