Repository micrometer-metrics/micrometer, pull requests merged in 2024-02, with the labels that each got.

#4713 Bump dynatrace-metric-utils-java to 2.2.0
  gradle/libs.versions.toml
Labels: registry: dynatrace, dependency-upgrade

#4716 Upgrade to Gradle Wrapper 8.6
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: type: task, build

#4037 Polish Apache HttpComponents instrumentation changes
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ApacheHttpClientContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ApacheHttpClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ApacheHttpClientObservationDocumentation.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/DefaultApacheHttpClientObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ObservationExecChainHandler.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/DefaultApacheHttpClientObservationConventionTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ObservationExecChainHandlerIntegrationTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/httpcomponents/hc5/ObservationExecChainHandlerTest.java
Labels: polish, module: micrometer-core

#4759 Polish CountedAspect
  micrometer-core/src/main/java/io/micrometer/core/aop/CountedAspect.java
Labels: polish, module: micrometer-core

#4757 Improve aggregationTemporalityUseEnvVarWhenConfigNotSet()
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpConfigTest.java
Labels: polish, registry: otlp

#4762 Polish gh-4728
  micrometer-java11/build.gradle
  micrometer-java11/src/main/java/io/micrometer/java11/instrument/binder/jdk/DefaultHttpClientObservationConvention.java
Labels: polish

#4771 Replace deprecated buildDir
  build.gradle
Labels: type: task, build

#4767 Polish
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/GrpcClientObservationContext.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/GrpcServerObservationContext.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/grpc/GrpcObservationTest.java
  micrometer-core/src/test/kotlin/io/micrometer/core/instrument/kotlin/binder/grpc/GrpcCoroutinesTest.kt
Labels: polish

#4770 Make DefaultHttpClientObservationConvention#INSTANCE final
  build.gradle
  micrometer-core/src/main/java11/io/micrometer/core/instrument/binder/jdk/DefaultHttpClientObservationConvention.java
Labels: type: task, release notes, module: micrometer-core

#4769 Polish
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpDeltaMeterRegistryTest.java
  implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverMeterRegistry.java
  micrometer-commons/src/main/java/io/micrometer/common/KeyValues.java
  micrometer-commons/src/test/java/io/micrometer/common/KeyValuesTest.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/logging/LoggingMeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/distribution/TimeWindowMaxTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/push/PushMeterRegistryTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/step/StepMeterRegistryTest.java
  micrometer-observation/src/test/java/io/micrometer/observation/ObservationContextTest.java
  micrometer-observation/src/test/java/io/micrometer/observation/contextpropagation/ObservationThreadLocalAccessorTests.java
Labels: polish

#4755 Make LongTaskTimer creation conditional in DefaultMeterObservationHandler
  micrometer-core/src/main/java/io/micrometer/core/instrument/observation/DefaultMeterObservationHandler.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/observation/DefaultMeterObservationHandlerTest.java
Labels: enhancement
