Repository micrometer-metrics/micrometer, pull requests merged in 2025-03, with the labels that each got.

#5988 Clarify JavaDoc for JMS `DESTINATION_NAME`
  micrometer-jakarta9/src/main/java/io/micrometer/jakarta9/instrument/jms/JmsObservationDocumentation.java
Labels: doc-update, polish

#5994 Improve OtlpMetricsSender API
  docs/modules/ROOT/pages/implementations/otlp.adoc
  docs/src/test/java/io/micrometer/docs/metrics/OtlpMeterRegistryCustomizationTest.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/MetricsSender.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpHttpMetricsSender.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMetricsSender.java
  implementations/micrometer-registry-otlp/src/test/java/io/micrometer/registry/otlp/OtlpMeterRegistryTest.java
Labels: enhancement, breaking-change, registry: otlp

#6034 Document requirements for reflective access in ExecutorServiceMetrics
  docs/modules/ROOT/pages/reference/jvm.adoc
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetrics.java
Labels: doc-update

#6025 Further enhancement to OtlpMetricsSender
  docs/src/test/java/io/micrometer/docs/metrics/OtlpMeterRegistryCustomizationTest.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/MetricsSender.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpHttpMetricsSender.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMetricsSender.java
Labels: enhancement, breaking-change, registry: otlp

#6064 Migrate aspectjweaver from 1.9.20.1 to 1.9.23
  gradle/libs.versions.toml
  micrometer-core/build.gradle
  micrometer-observation/build.gradle
  micrometer-test-aspectj-ctw/build.gradle
  micrometer-test-aspectj-ctw/src/test/java/io/micrometer/test/ctw/MeasuredClassTest.java
Labels: java, dependencies
