Repository micrometer-metrics/micrometer, pull requests merged in 2025-01, with the labels that each got.

#5760 Polish gh-5751
  docs/modules/ROOT/pages/implementations/prometheus.adoc
Labels: doc-update, polish

#5791 Add a test verifying that a single character meter name is allowed for Prometheus
  implementations/micrometer-registry-prometheus/src/test/java/io/micrometer/prometheusmetrics/PrometheusMeterRegistryTest.java
Labels: type: task, registry: prometheus

#5811 Support AutoShutdownDelegatedExecutorService in ExecutorServiceMetrics
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetrics.java
  micrometer-java21/build.gradle
  micrometer-java21/src/test/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetricsReflectiveTests.java
Labels: enhancement, module: micrometer-core, instrumentation

#5814 Remove special handling of 404/301 from OkHttp instrumentation
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/DefaultOkHttpObservationConvention.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpMetricsEventListener.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/okhttp3/OkHttpMetricsEventListenerTest.java
Labels: enhancement, release notes, instrumentation

#5735 Fix `gradle check` with JDK17+
  build.gradle
  gradle/libs.versions.toml
  micrometer-osgi-test/build.gradle
Labels: type: task, build

#5818 `Log4j2Metrics` creates more `MetricsFilter` instances than needed
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/logging/Log4j2Metrics.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/logging/Log4j2MetricsTest.java
Labels: bug, performance, module: micrometer-core, instrumentation

#5825 Remove special handling of 404 and redirection statuses from Jetty client instrumentation
  micrometer-jetty12/src/main/java/io/micrometer/jetty12/client/JettyClientKeyValues.java
  micrometer-jetty12/src/main/java/io/micrometer/jetty12/client/JettyClientTags.java
  micrometer-jetty12/src/test/java/io/micrometer/jetty12/client/JettyClientMetricsTest.java
Labels: enhancement, instrumentation, module: jetty12

#5824 Log deprecation warning when creating SignalFxMeterRegistry
  implementations/micrometer-registry-signalfx/src/main/java/io/micrometer/signalfx/SignalFxMeterRegistry.java
Labels: enhancement, registry: signalfx

#5823 Upgrade to Gradle Wrapper 8.12.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build

#5835 Make Timer and LongTaskTimer output similar in LoggingMeterRegistry
  micrometer-core/src/main/java/io/micrometer/core/instrument/logging/LoggingMeterRegistry.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/logging/LoggingMeterRegistryTest.java
Labels: enhancement, module: micrometer-core

#5591 Improve average performance of LongTaskTimer for out-of-order stopping
  micrometer-core/src/main/java/io/micrometer/core/instrument/internal/DefaultLongTaskTimer.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/internal/DefaultLongTaskTimerTest.java
Labels: enhancement, performance, module: micrometer-core

#5840 Use direct equals call instead of Objects.equals wrapper
  micrometer-core/src/main/java/io/micrometer/core/instrument/Meter.java
Labels: enhancement, performance, module: micrometer-core

#5838 Remove special handling of 404/301 from JDK HTTP client instrumentation
  micrometer-java11/src/main/java/io/micrometer/java11/instrument/binder/jdk/DefaultHttpClientObservationConvention.java
  micrometer-java11/src/main/java/io/micrometer/java11/instrument/binder/jdk/MicrometerHttpClient.java
  micrometer-java11/src/test/java/io/micrometer/java11/instrument/binder/jdk/MicrometerHttpClientTests.java
Labels: enhancement, instrumentation, module: micrometer-java11
