Repository micrometer-metrics/micrometer, pull requests merged in 2025-07, with the labels that each got.

#6494 Suppress ArrayAsKeyOfSetOrMap, MixedMutabilityReturnType, and MutablePublicArray from Error Prone
  build.gradle
  implementations/micrometer-registry-health/src/main/java/io/micrometer/health/objectives/JvmServiceLevelObjectives.java
  implementations/micrometer-registry-health/src/main/java/io/micrometer/health/objectives/OperatingSystemServiceLevelObjectives.java
  implementations/micrometer-registry-new-relic/src/main/java/io/micrometer/newrelic/NewRelicInsightsAgentClientProvider.java
  implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheusmetrics/DefaultExemplarSamplerFactory.java
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/MessageFormatter.java
  micrometer-core/src/main/java/io/micrometer/core/util/internal/logging/MessageFormatter.java
Labels: type: task

#6371 Tests showing Statsd metrics dropped after start before connection established
  docs/modules/ROOT/pages/implementations/statsD.adoc
  implementations/micrometer-registry-statsd/src/test/java/io/micrometer/statsd/StatsdMeterRegistryPublishTest.java
Labels: registry: statsd

#6450 Remove replace call that does nothing in TelegrafStatsdLineBuilder.telegrafEscape()
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/internal/TelegrafStatsdLineBuilder.java
Labels: polish, registry: statsd

#6514 Log requests as trace level for OtlpMeterRegistry
  implementations/micrometer-registry-otlp/build.gradle
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMeterRegistry.java
  implementations/micrometer-registry-otlp/src/test/resources/logback.xml
Labels: enhancement, registry: otlp

#6510 Provide meter count in HighCardinalityTagsDetector
  micrometer-core/src/main/java/io/micrometer/core/instrument/HighCardinalityTagsDetector.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/HighCardinalityTagsDetectorTests.java
Labels: enhancement, module: micrometer-core

#6530 Enhance logging of negative amount in AbstractTimer.record() by printing stack trace
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/WarnThenDebugLogger.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/AbstractTimer.java
Labels: enhancement, module: micrometer-core

#6568 Require explicit constraints in @Contract
  micrometer-commons/src/main/java/io/micrometer/common/lang/internal/Contract.java
Labels: enhancement, module: micrometer-common

#6570 Polish Javadoc for gh-6510
  micrometer-core/src/main/java/io/micrometer/core/instrument/HighCardinalityTagsDetector.java
Labels: polish

#6574 Polish
  implementations/micrometer-registry-dynatrace/src/test/java/io/micrometer/dynatrace/v1/DynatraceExporterV1Test.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/grpc/ObservationGrpcServerInterceptor.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/kafka/KafkaClientMetricsAdminTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/kafka/KafkaStreamsMetricsTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/dropwizard/DropwizardFunctionTimerTest.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/simple/SimpleMeterRegistryTest.java
  micrometer-observation/src/main/java/io/micrometer/observation/transport/Propagator.java
Labels: polish

#6576 Polish gh-6530
  micrometer-commons/src/main/java/io/micrometer/common/util/internal/logging/WarnThenDebugLogger.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/AbstractTimer.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/AbstractTimerTests.java
Labels: polish
