Repository micrometer-metrics/micrometer, pull requests merged in 2025-05, with the labels that each got.

#6146 MultiGauge doesn't work with MeterFilter.map()
  micrometer-core/src/main/java/io/micrometer/core/instrument/MeterRegistry.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/MultiGauge.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/MultiGaugeTest.java
Labels: bug, module: micrometer-core

#6205 Polish MeterRegistryCompatibilityKit.multiGaugesCanBeRegisteredEffectivelyTwice()
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java
Labels: type: task, polish, module: micrometer-test

#6194 TimedHandler shutdown hanging indefinitely
  micrometer-jetty12/src/main/java/io/micrometer/jetty12/server/TimedHandler.java
  micrometer-jetty12/src/test/java/io/micrometer/jetty12/server/TimedHandlerTest.java
Labels: bug, instrumentation, module: jetty12

#6232 Resolve InlineFormatString from Error Prone
  build.gradle
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/DefaultIndexTemplateCreator.java
  implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/LegacyIndexTemplateCreator.java
  implementations/micrometer-registry-influx/src/main/java/io/micrometer/influx/CreateDatabaseQueryBuilder.java
Labels: type: task, polish

#6253 Resolve ClassCanBeStatic from Error Prone
  build.gradle
  docs/src/test/java/io/micrometer/docs/observation/ObservationHandlerTests.java
  docs/src/test/java/io/micrometer/docs/observation/ObservationTestingTests.java
  implementations/micrometer-registry-new-relic/src/main/java/io/micrometer/newrelic/NewRelicInsightsApiClientProvider.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/composite/CompositeMeterRegistryTest.java
Labels: type: task, polish

#6263 Resolve EqualsGetClass from Error Prone
  build.gradle
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpMetricConverter.java
  micrometer-commons/src/main/java/io/micrometer/common/ImmutableKeyValue.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/ImmutableTag.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/Meter.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jersey/server/ObservationRequestEventListener.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/binder/hystrix/MicrometerMetricsPublisherThreadPoolTest.java
  micrometer-test/src/main/java/io/micrometer/common/util/internal/logging/LogEvent.java
  micrometer-test/src/main/java/io/micrometer/core/util/internal/logging/LogEvent.java
Labels: type: task, polish

#6224 Replace TimeUtils usage to TimeUnit where applicable
  implementations/micrometer-registry-otlp/src/main/java/io/micrometer/registry/otlp/OtlpStepTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/MockClock.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/cumulative/CumulativeTimer.java
  micrometer-core/src/main/java/io/micrometer/core/instrument/step/StepTimer.java
  micrometer-core/src/test/java/io/micrometer/core/instrument/distribution/TimeWindowPercentileHistogramTest.java
  micrometer-test/src/main/java/io/micrometer/core/instrument/step/PollingAwareMockStepClock.java
  micrometer-test/src/main/java/io/micrometer/core/tck/MeterRegistryCompatibilityKit.java
  samples/micrometer-samples-core/src/main/java/io/micrometer/core/samples/FunctionTimerSample.java
Labels: type: task, polish

#6283 Upgrade to Gradle Wrapper 8.14.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: type: task, build

#6285 Polish StatsD line builders
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/internal/DatadogStatsdLineBuilder.java
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/internal/EtsyStatsdLineBuilder.java
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/internal/SysdigStatsdLineBuilder.java
  implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/internal/TelegrafStatsdLineBuilder.java
Labels: type: task, polish, registry: statsd

#6293 Remove java11Test setup from micrometer-test
  micrometer-test/build.gradle
  micrometer-test/src/test/java/io/micrometer/java11/instrument/binder/jdk/JdkHttpClientTimingInstrumentationVerificationTests.java
Labels: type: task, build

#6297 Polish gh-6284
  implementations/micrometer-registry-statsd/src/test/java/io/micrometer/statsd/StatsdMeterRegistryPublishTest.java
  implementations/micrometer-registry-statsd/src/test/java/io/micrometer/statsd/StatsdMeterRegistryTest.java
Labels: type: task, polish, registry: statsd
